.form-horizontal.form-label-left{:style => "overflow:auto;"}
  .col-md-6.col-sm-6.col-xs-12
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Company Name
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.supplier_name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Reference #
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.ref_no
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Payment Terms
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.payment_term.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Warehouse
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.warehouse.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Bill Address
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.billing_address
  .col-md-6.col-sm-6.col-xs-12
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Purchase Person
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.booker.full_name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Issued Date
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.order_date
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Estimate Shipment Date
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.issue_date
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Terms & Condition
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.condition_term.title unless @purchase_order.condition_term.nil?
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Shipping Address
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        = @purchase_order.shipping_address

- if @purchase_order.cancelled?
  .ln_solid
  .row.no-margin
    .col-md-12
      %h4 Reason
      %p=@purchase_order.reason

.ln_solid
.form-horizontal.form-label-left{:style => "overflow:auto;"}
  .col-md-12{:style => "overflow:auto;"}
    %h4 Product Information
    / start project list
    %div
      %table#product_list.table.projects.margin-bottom-5{:style => "table-layout: fixed;"}
        %thead
          %tr
            %th{ width: '30%' } Product Name
            %th Quantity
            %th Unit Price
            %th Tax (%)
            %th{ width: '20%' } Amount
        %tbody
        - @purchase_order.purchase_items.each do |item|
          %tr
            %td 
              =item.purchased_item.name    
            %td 
              =item.quantity
            %td 
              ="#{Setting.value_by('format.currency')} #{item.unit_price}"
            %td 
              =item.tax_rate
            %td 
              ="#{Setting.value_by('format.currency')} #{item.quantity * item.unit_price - item.discount_amount}" 
        - @purchase_order.purchase_custom_items.each do |item|
          %tr
            %td 
              =item.item_name    
            %td 
              =item.quantity
            %td 
              ="#{Setting.value_by('format.currency')} #{item.unit_price}"
            %td 
              =item.tax_rate
            %td
              ="#{Setting.value_by('format.currency')} #{item.quantity * item.unit_price - item.discount_amount}" 
      %table.table.projects
        %tbody
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b SubTotal:
            %td#sub_total_cell.money{:style => 'border:none; background: white; width:20%;'}
              =@purchase_order.sub_total
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Tax:
            %td#tax_total_cell.money{:style => 'border:none; background: white; width:20%;'}
              =@purchase_order.tax_amount
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Total:
            %td#total_cell.money{:style => 'border:none; background: white; width:20%;'}
              =@purchase_order.total_amount        
:javascript
  $(document).ready(function() {
  });
