.right_col.sales-orders-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_purchase_order', add_url: new_purchase_order_path, active_elem: "sub-nav-#{@purchase_order.id}", nav_name: 'Purchase Orders', sub_elems: @purchase_orders, type: 'edit', cat_name: 'Purchase Order Detail', order_type: params[:type]
  .right-content
    .x_panel
      .x_title
        = link_to purchase_order_path(@purchase_order) do
          %h2
            ="Purchase Order #{@purchase_order.token}" 
        %span.label{class: @purchase_order.status_class}
          = "#{@purchase_order.status_text.capitalize}"
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        / Nav tabs
        %ul.nav.nav-tabs.bar_tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_detail", "aria-expanded" => "true"} 
              %i.fa.fa-folder-open-o
              Order Details                                    
          %li
            %a{"data-toggle" => "tab", :href => "#tab_item", "aria-expanded" => "false"} 
              %i.fa.fa-cubes
              Ordered Items
          / %li
          /   %a{"data-toggle" => "tab", :href => "#tab_pack", "aria-expanded" => "false"} 
          /     %i.fa.fa-cube
          /     Packaging
          / %li
          /   %a{"data-toggle" => "tab", :href => "#tab_shipment", "aria-expanded" => "false"} 
          /     %i.fa.fa-truck
          /     Shippments
          / %li
          /   %a{"data-toggle" => "tab", :href => "#tab_invoice", "aria-expanded" => "false"} 
          /     %i.fa.fa-file-text-o
          /     Invoice
          / %li
          /   %a{"data-toggle" => "tab", :href => "#tab_history", "aria-expanded" => "false"} 
          /     %i.fa.fa-history
          /     History
        .tab-content
          #tab_detail{:class => "tab-pane active"}
            = render 'edit_purchase_order_detail'
          #tab_item{:class => "tab-pane"}
            = render 'edit_purchase_order_item'
          / #tab_pack{:class => "tab-pane"}
          /   = render 'form_purchase_order_pack'
          / #tab_shipment{:class => "tab-pane"}
          /   = render 'form_purchase_order_shipment'
          / #tab_invoice{:class => "tab-pane"}
          /   = render 'form_purchase_order_invoice'
          / #tab_history{:class => "tab-pane"}
          /   = render 'form_purchase_order_history'
:javascript
  jQuery(document).ready(function() {    
    
  });

:css
  table td.money:before{    
    content: '#{Setting.value_by('format.currency')} ' !important;
  }