.row
  .col-md-12.col-sm-12.col-xs-12
    .title_right
      .col-md-8.col-sm-8.col-xs-12
        - if !params[:key].blank?
          %h4
            Search by "#{params[:key]}"
  .col-md-12
    %table.table.table-hover.projects
      %thead
        %tr
          %th{width: '1%'}
            %input.group-checkable{type: 'checkbox'}
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'date', sort: 'asc'} do
              Date
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'invoice_no', sort: 'asc'} do
              Invoice#
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'order_no', sort: 'asc'} do
              Sales Order#
          %th{width: '20%'}
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'company', sort: 'asc'} do
              Customer Name
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'status', sort: 'asc'} do
              Status
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'payment', sort: 'asc'} do
              Payment Due
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'total', sort: 'asc'} do
              Amount
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'amount', sort: 'asc'} do
              Balance
          %th
      %tbody
      - @invoices.each do |invoice|
        %tr{class: "status"}
          %td.bulk_action  
            %input{type: 'checkbox', value: "#{invoice.id}", name: "table_records"}
          %td
            = invoice.created_at.to_date
          %td
            =link_to invoice_path(invoice, type: params[:type]) do
              = invoice.token          
            / - if invoice.file_name.blank? || invoice.is_updated_pdf
            /   =link_to generate_pdf_invoice_path(invoice), :method=> :post, target: '_blank' do
            /     = invoice.token
            / - else
            /   =link_to invoice.file_name_path, target: '_blank' do
            /     = invoice.token
          %td
            %a{:href => sales_order_path(id: invoice.sales_order.id, type: 'all')}
              = invoice.sales_order.token
          %td
            %a{:href => customer_path(id: invoice.sales_order.customer.id)}
              = invoice.sales_order.customer_full_name.html_safe
          %td{id: "invoice_status_#{invoice.id}"}
            %span.label{class: invoice.status_class}=invoice.status_text.upcase
          %td
            = invoice.payment_date
          %td
            = invoice.total
          %td{id: "invoice_balance_#{invoice.id}"}
            = invoice.total - invoice.total_paid
          %td{style: "position: relative;"}
            %button.btn.btn-default.btn-sm.dropdown-toggle.btn-more{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.more-action{:role => "menu", style: "right: 0; left: auto; top: 35px;"}
              %li
                =link_to invoice_path(invoice, type: 'edit'), class: 'invoice-header-link' do
                  Edit
              - unless invoice.preview_token.nil?
                %li
                  =link_to preview_invoice_path(invoice.preview_token), class: 'invoice-header-link', :method=> :get, target: '_blank' do
                    Preview
                %li.divider
              %li{id: "invoice_approve_#{invoice.id}" , class: "invoice_approve_section_#{invoice.id}", style: "#{(invoice.draft? || invoice.cancelled?) ? 'display: block;' : 'display: none;'}"}
                =link_to 'javascript:;', class: 'invoice-header-link invoice-approve', 'data-id' => invoice.id, 'data-token' => invoice.token  do
                  Approve
              %li
                =link_to '#', class: 'invoice-header-link' do
                  Send
              %li{id: "invoice_payment_#{invoice.id}", class: "invoice_cancel_section_#{invoice.id}", style: "#{(invoice.cancelled?) ? 'display: none;' : 'display: block;'}"}
                =link_to '#', class: 'invoice-header-link record-payment', 'data-target' => '#record_payment_modal', 'data-toggle' => 'modal', 'data-id' => invoice.id, 'data-token' => invoice.token, 'data-balance' => "#{invoice.total - invoice.total_paid}", style: "#{(invoice.paid? || invoice.draft?) ? 'display: none;' : ''}" do
                  Record Payment
              %li.divider
              - if invoice.file_name.blank? || invoice.is_updated_pdf
                %li
                  =link_to generate_pdf_invoice_path(invoice), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                    Export As PDF
                %li
                  =link_to generate_pdf_invoice_path(invoice), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                    Print
              - else
                %li
                  =link_to invoice.file_name_path, class: 'invoice-header-link', target: '_blank' do
                    Export As PDF
                %li
                  =link_to invoice.file_name_path, class: 'invoice-header-link', target: '_blank' do
                    Print
              %li.divider{class: "invoice_cancel_section_#{invoice.id}", style: "#{(invoice.cancelled?) ? 'display: none;' : 'display: block;'}"}
              %li{id: "invoice_cancel_#{invoice.id}", class: "invoice_cancel_section_#{invoice.id}", style: "#{(invoice.cancelled?) ? 'display: none;' : 'display: block;'}"}
                =link_to '#', class: 'invoice-header-link invoice-cancel', 'data-target' => '#cancel_reason_modal', 'data-toggle' => 'modal', 'data-id' => invoice.id, 'data-token' => invoice.token  do
                  Cancel

  .col-md-12{:style => "text-align: center;"}  
    = will_paginate @invoices, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
    %input{type: 'hidden', id: 'params', data: { order: "#{params[:order]}", sort: "#{params[:sort]}", key: "#{params[:key]}", type: "#{params[:type]}"}}

  .modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "record_payment_modal"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title 
            Record Payment for Invoice - 
            %span{id: 'payment_invoice_token'}
        .modal-body
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Payment Date
            .col-md-8.col-sm-8.col-xs-12
              %input.form-control{name:'payment_date', :placeholder => "Payment Date", id: 'payment_date'}
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Amount
            .col-md-8.col-sm-8.col-xs-12
              %input.form-control{type: 'number', name:'amount', id: 'payment_amount', :placeholder => "$"}
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Mode of Payment
            .col-md-8.col-sm-8.col-xs-12
              = select_tag :payment_mode, options_for_select(ApplicationHelper::PAYMENT_MODE.each_with_index.map {|name, index| [name,index]}), prompt: "Select Payment Mode", :class => "form-control"
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Reference #
            .col-md-8.col-sm-8.col-xs-12
              %input.form-control{name:'reference_no', id: 'reference_no'}
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Note
            .col-md-8.col-sm-8.col-xs-12
              %textarea.form-control{name:'note', id: 'note', rows: 5}
              %input{type:'hidden', id: 'payment_invoice_id', :value => ""}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "cancel_record_payment"} Close
          %button.btn.btn-primary{:type => "button", id: "button_record_payment"} Submit

  .modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "cancel_reason_modal"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title 
            Cancel Reason for Invoice - 
            %span{id: 'cancel_invoice_token'}
        .modal-body
          .row{style:'margin-bottom: 10px;'}
            .col-md-12
              %label Reason
              %textarea.form-control{name:'note', id: 'cancel_reason', rows: 5}
              %input{type:'hidden', id: 'cancel_invoice_id', :value => ""}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "button_close_cancel"} Close
          %button.btn.btn-danger{:type => "button", id: "button_cancel_invoice", "data-type" => "modal"} Cancel

:javascript
  jQuery(document).ready(function() {
    InvoiceList.initInvoiceList();
  });