.x_panel
  .x_title
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
      %h2
        = nav_name
        %span.fa.fa-chevron-down.list-type-down
    %ul.dropdown-menu
      %li
        = link_to list_by_type_invoices_path(:type => 'all') do
          All Invoices            
      %li
        = link_to list_by_type_invoices_path(:type => 'draft'), class: "no-border" do
          Draft Invoices
      %li
        = link_to list_by_type_invoices_path(:type => 'confirmed'), class: "no-border" do
          Confirmed Invoices
      %li
        = link_to list_by_type_invoices_path(:type => 'sent') do
          Sent Invoices
      %li
        = link_to list_by_type_invoices_path(:type => 'partial'), class: "no-border" do
          Partial Invoices
      %li
        = link_to list_by_type_invoices_path(:type => 'paid'), class: "no-border" do
          Paid Invoices
    %ul.nav.navbar-right.panel_toolbox
      %li
        %a.add-link{ :href => add_url }
          %i.fa.fa-cart-plus
    .clearfix
  #invoice_side_menu.x_content{:style => "max-height:800px;"}
    .sub_menu_side
      %ul.nav.side-menu
        - sub_elems.each do |elem|
          %li{ :class => "sub-nav-#{elem.id} element" }
            %a{:href => (type == 'show') ? invoice_path(elem, type: invoice_type) : edit_invoice_path(elem), style: 'padding: 5px !important;' }
              %table.sales-order-side-elem{style: 'width: 100%;'}
                %tr
                  %td.invoice-name
                    = "#{elem.token}"
                  %td.text-right
                    %span.label{class: "#{elem.status_class}"}
                      = elem.status.capitalize
      %input{type: 'hidden', id: 'active_elem', data: { elem: "#{active_elem}"}}
:javascript
  jQuery(document).ready(function() {
    InvoiceDetail.initInvoiceNavList();
  });