.right_col.invoices-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_invoice', add_url: new_invoice_path, active_elem: "sub-nav-#{@invoice.id}", nav_name: t("invoice.container.list.header.#{params[:type]}"), sub_elems: @invoices, type: 'show', cat_name: 'Invoice Detail', invoice_type: params[:type]
  .right-content
    .x_panel
      .x_title
        %h2           
          ="Invoice #{@invoice.token}" 
        %span.label{class: @invoice.status_class}
          = "#{@invoice.status_text.capitalize}"
        %ul.nav.navbar-right.panel_toolbox
          %li
            %button.btn.btn-default.btn-sm.dropdown-toggle.btn-more{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              More..
              %span.caret
            %ul.dropdown-menu.more-action{:role => "menu"}
              %li
                =link_to 'javascript:;', class: 'invoice-header-link', id: 'edit_invoice' do
                  Edit
              - unless @invoice.preview_token.nil?
                %li
                  =link_to preview_invoice_path(@invoice.preview_token), class: 'invoice-header-link', :method=> :get, target: '_blank' do
                    Preview
                %li.divider
              - if @invoice.draft?
                %li
                  =link_to approve_invoice_path(@invoice, type: params[:type]), class: 'invoice-header-link', method: :post do
                    Approve
              %li
                =link_to '#', class: 'invoice-header-link' do
                  Send
              - unless @invoice.paid?
                %li
                  =link_to '#', class: 'invoice-header-link record-payment', 'data-target' => '#record_payment_modal', 'data-toggle' => 'modal' do
                    Record Payment
              %li.divider
              - if @invoice.file_name.blank? || @invoice.is_updated_pdf
                %li
                  =link_to generate_pdf_invoice_path(@invoice), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                    Export As PDF
                %li
                  =link_to generate_pdf_invoice_path(@invoice), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                    Print
              - else
                %li
                  =link_to @invoice.file_name_path, class: 'invoice-header-link', target: '_blank' do
                    Export As PDF
                %li
                  =link_to @invoice.file_name_path, class: 'invoice-header-link', target: '_blank' do
                    Print
              %li.divider
              %li
                =link_to invoice_path(@invoice), method: :delete, data: { confirm: 'Are you sure?' }, class: 'invoice-header-link' do
                  Delete
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        .row
          .col-md-12.text-right
            %a#btn_update_invoice.btn.btn-primary{:href => 'javascript:;', style: 'display: none;', "data-url" => invoice_path(@invoice)}
              Save
        / Nav tabs
        .row.no-margin  
          .col-md-6.col-sm-6.col-xs-12
            %h1= @sales_order.customer.company_title
          .col-md-6.col-sm-6.col-xs-12.text-right
            %h4.invoice_number=@invoice.token
        .row.no-margin  
          .col-md-6.col-sm-6.col-xs-12
            %h4= @sales_order.customer.billing_address
          .col-md-6.col-sm-6.col-xs-12
            %h4.invoice_date
              Date: 
              =@invoice.created_at.to_date
        .row.no-margin  
          .col-md-6.col-sm-6.col-xs-12
            %h5="Phone: #{@sales_order.customer.phone}"
            %h5="Fax: #{@sales_order.customer.fax}"
          .col-md-6.col-sm-6.col-xs-12
            %h5="Sales Order: #{@sales_order.token}"
            %h5="Processed By: #{@sales_order.booker.full_name}"
        .row.no-margin  
          .col-md-6.col-sm-6.col-xs-12
            %h4 
            %h5="#{@company_profiles['company.name']}"
            %h5="#{@company_profiles['company.address']}"
          .col-md-6.col-sm-6.col-xs-12
            %h4 Deliver To
            %h5="#{@sales_order.customer.company_title}"
            %h5="#{@sales_order.ship_street} #{@sales_order.ship_suburb}"
            %h5="#{@sales_order.ship_city} #{@sales_order.ship_postcode}"
            %h5="#{@sales_order.ship_state} #{Country.coded(@sales_order.ship_country).name}"

          .col-md-12{:style => "overflow:auto;"}
            / start project list
            %div
              %table#product_list.table.table-bordered.projects.margin-bottom-5
                %thead
                  %tr
                    %th{:style => "width: 15%"} SKU
                    %th{:style => "width: 25%"} Product Name
                    %th{:style => "width: 10%"} Quantity
                    %th{:style => "width: 10%"}= "Price (#{Setting.value_by('format.currency')})"
                    %th{:style => "width: 10%"} Discount (%)
                    %th{:style => "width: 10%"} Tax (%)
                    %th{:style => "width: 10%"}= "Amount (#{Setting.value_by('format.currency')})"
                %tbody
                - @invoice.invoice_items.each do |elem|
                  %tr
                    %td
                      =elem.sales_item.sold_item.sku    
                    %td 
                      =elem.sales_item.sold_item.name
                    %td.editable{"contentEditable" => "false"}
                      =elem.quantity
                    %td 
                      =elem.sales_item.unit_price
                    %td 
                      =elem.sales_item.discount_rate
                    %td 
                      =elem.sales_item.tax_rate
                    %td
                      =elem.sub_total
                    %td{:style => "display: none;"} 
                      =elem.sales_item_id

              %table.table.projects
                %tbody
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b SubTotal:
                    %td#sub_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.sub_total
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b Total Discount:
                    %td#discount_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.discount 
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b Shipping Cost:
                    %td#shipping_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.shipping
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b Tax:
                    %td#tax_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.tax
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b Total:
                    %td#total_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.total
                  - @invoice.payments.each do |payment|
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        ="Payment on #{payment.payment_date}:"
                      %td.payment-record.money{:style => 'border:none; background: white; width:12%;'}
                        =payment.amount
                  %tr
                    %td{:style => 'border:none; background: white; text-align: right;'} 
                      %b Amount Due:
                    %td#change_cell.money{:style => 'border:none; background: white; width:12%;'}
                      =@invoice.total - @invoice.total_paid
        .ln_solid
        .row.no-margin
          .col-md-12{:style => "overflow:auto;"}
            %h4 Payment Records
            / start project list
            %div
              %table#payment_record_list.activity_list.table.table-bordered.projects.margin-bottom-5
                %thead
                  %tr
                    %th Payment Date
                    %th Amount
                    %th 
                %tbody
                  - @invoice.payments.each do |item|
                    %tr
                      %td
                        =item.payment_date
                      %td 
                        =item.amount
                      %td
                        =link_to remove_payment_invoice_path(@invoice, payment: item.id, type: params[:type]), class: 'remove_payment_link', :method=> :delete, :data => { :confirm => 'Are you sure?' } do
                          %i.fa.fa-icon.fa-minus-circle

  .modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "record_payment_modal"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Record Payment for this Invoice
        .modal-body
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Payment Date
            .col-md-8.col-sm-8.col-xs-12
              %input.form-control{name:'payment_date', :placeholder => "Payment Date", id: 'payment_date'}
          .row{style:'margin-bottom: 10px;'}
            %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Amount
            .col-md-8.col-sm-8.col-xs-12
              %input.form-control{name:'amount', id: 'payment_amount', :placeholder => "$"}
              %input{type:'hidden', id: 'invoice_id', :value => "#{@invoice.id}"}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "cancel_record_payment"} Close
          %button.btn.btn-primary{:type => "button", id: "button_record_payment"} Submit

:javascript
  jQuery(document).ready(function() {
    InvoiceDetail.initActionHandler();
  });

:css
  table td.money:before{    
    content: '#{Setting.value_by('format.currency')} ' !important;
  }