.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Edit Customer
      .title_right
        .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
          .input-group
            %input.form-control{:placeholder => "Search for...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Go!
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2 Customer Information
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
          .x_content.form-group-no-margin
            .row            
              .col-md-2
                / required for floating
                / Nav tabs
                %ul.nav.nav-tabs.tabs-left
                  %li{:class => (flash[:last_action]=="update_info" || flash[:last_action] == nil) ? "active" : ""}
                    %a{"data-toggle" => "tab", :href => "#tab_personal"} 
                      %i.fa.fa-cog
                      Customer Info
                  %li{:class => (flash[:last_action]=="update_document") ? "active" : ""}
                    %a{"data-toggle" => "tab", :href => "#tab_document"} 
                      %i.fa.fa-folder-open
                      Document
                  %li{:class => (flash[:last_action]=="update_contact") ? "active" : ""}
                    %a{"data-toggle" => "tab", :href => "#tab_contact"} 
                      %i.fa.fa-folder-open
                      Contacts
              .col-md-10
                .tab-content
                  #tab_personal{:class => "tab-pane #{(flash[:last_action]=="update_info" || flash[:last_action] == nil) ? "active" : ""}"}
                    .row
                      .col-md-12{:style => "text-align: right"}
                        %a.btn.btn-success.btn-xs{:href => "/customers/new"}
                          %i.fa.fa-plus
                          Add Customer                  
                    = render 'form_info'
                  #tab_document{:class => "tab-pane #{(flash[:last_action]=="update_document") ? "active" : ""}"}
                    .row
                      = render 'form_document'
                    .ln_solid
                    .row
                      .col-md-12
                        %table.table.table-striped.projects
                          %thead
                            %tr
                              %th{:style => "width: 1%"} #
                              %th{:style => "width: 40%"} Document Name
                              %th{:style => "width: 30%"} Document Size
                              %th{:style => "min-width: 20%"} #Edit
                          %tbody
                          - @customer.documents.each do |doc|
                            %tr
                              %td #
                              %td
                                %a{:href => "#{doc.file.url}"}  
                                  =doc.file.original_filename
                              %td
                                =doc.file.size
                              %td
                                = link_to doc, method: :delete, :class => "btn btn-danger btn-xs" do
                                  %i.fa.fa-trash-o
                                  Delete                    
                  #tab_contact{:class => "tab-pane #{(flash[:last_action]=="update_contact") ? "active" : ""}"}
                    .row
                      = render 'form_contact'
                    .ln_solid
                    .row
                      .col-md-12
                        %table.table.table-striped.projects
                          %thead
                            %tr
                              %th{:style => "width: 1%"} #
                              %th{:style => "width: 15%"} Contact Name
                              %th{:style => "width: 15%"} Mobile Number
                              %th{:style => "width: 15%"} Landline Number
                              %th{:style => "width: 20%"} Email Address
                              %th{:style => "width: 10%"} Designation
                              %th{:style => "min-width: 15%"} #Edit
                          %tbody
                          - @customer.contacts.each do |cont|
                            %tr
                              %td #
                              %td
                                =cont.full_name
                              %td
                                =cont.mobile_number
                              %td
                                =cont.landline_number
                              %td
                                =cont.email
                              %td
                                =cont.designation
                              %td
                                = link_to cont, method: :delete, :class => "btn btn-danger btn-xs" do
                                  %i.fa.fa-trash-o
                                  Delete                    
