<div id="login" class="animate form registration_form">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login OrderBook</h1>
      <%= content_tag(:div, flash[:error], :id => "flash_error", :style => 'font-size:14px; color: darkred; padding: 10px 0;') if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'font-size:14px; color: darkred; padding: 10px 0;') if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert", :style => 'font-size:14px; color: darkred; padding: 10px 0;') if flash[:alert] %>
      <div>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address", :required => true%>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", :required => true %>
      </div>
      <div>
        <%= f.submit "Log in", class: "btn btn-default submit" %>
        <%= link_to "Lost your password?", new_password_path(resource_name), class: "reset_pass" %>
      </div>
      <div class="clearfix"></div>
      <div class="separator">

        <p class="change_link">New to site?
          <%= link_to "Create Account", new_registration_path(resource_name), class: "to_register" %>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
          <h1><i class="fa fa-paw" style="font-size: 26px;"></i> OrderBook </h1>
        </div>
      </div>
    <% end %>
    <!-- form -->
  </section>
  <!-- content -->
</div>
