=content_for :title, "Invoice - #{@invoice.token}"
.preview-print-box
    .pull-left
        %h4
            Order: 
            =@invoice.sales_order.token
    .text-right.pull-right
        =link_to sales_order_path(id: @invoice.sales_order.id, type: 'all'), class: 'preview-command' do
            %i.fa.fa-icon.fa-file-text-o
        =link_to generate_pdf_invoice_path(@invoice), class: 'preview-command', method: :post, target: '_blank' do
            %i.fa.fa-icon.fa-print
        =link_to generate_pdf_invoice_path(@invoice), class: 'preview-command', method: :post, target: '_blank' do
            %i.fa.fa-icon.fa-download
        =link_to list_by_type_invoices_path(:type => 'all'), class: 'btn btn-danger' do
            Close
    .clearfix
.preview-invoice-box
    %div{style: 'margin: 10px 30px;'}
        %table.sales-order-box
            %tr.main-info-box
                %td{colspan: 2}
                    %table.order-main-info
                        %tr
                            - if Setting.value_by('invoice.logo') == 'on' && !Setting.value_by('company.image').nil?
                                %td.company-logo
                                    = image_tag("/images/logo/#{Setting.value_by('company.image')}")
                            - else
                                %td.no-padding
                            %td.company-title{colspan: 2}
                                %h4="#{@company_profiles['company.name']}"
                                %p="#{@company_profiles['company.address']}"
                            %td.order-info{rowspan: 2}
                                %p=@invoice.sales_order.token
                                %p 
                                    Date:
                                    =@invoice.created_at.to_date
                                %p Page
                        %tr
                            %td
                            %td{colspan: 2}
                                %h4
                                    TO, 
                                    =@invoice.sales_order.customer.company_title
                        %tr
                            %td
                            %td
                                %p 
                                    %strong BILLING ADDRESS
                                %p="#{@invoice.sales_order.bill_street} #{@invoice.sales_order.bill_suburb}"
                                %p="#{@invoice.sales_order.bill_city} #{@invoice.sales_order.bill_postcode}"
                                %p="#{@invoice.sales_order.bill_state}"
                                %p="#{Country.coded(@invoice.sales_order.bill_country).name}"
                            %td
                                %p 
                                    %strong DELIVERY ADDRESS
                                %p="#{@invoice.sales_order.ship_street} #{@invoice.sales_order.ship_suburb}"
                                %p="#{@invoice.sales_order.ship_city} #{@invoice.sales_order.ship_postcode}"
                                %p="#{@invoice.sales_order.ship_state}"
                                %p="#{Country.coded(@invoice.sales_order.ship_country).name}"
                            %td
                                %p="Account No: #{@invoice.sales_order.customer.id}"
                                %p="Invoice No: #{@invoice.token}"
                                %p
                                    Terms : 
                                    =@invoice.sales_order.condition_term.title unless @invoice.sales_order.condition_term.nil?
                                %p Delivery via: 
                                %p Payment Method : 
            %tr.details-box
                %td{height: 600, colspan: 2}
                    %table.order-product-info
                        %tr.product-header
                            %td Product Name                        
                            %td Quantity
                            %td Unit
                            %td Unit Price
                            %td Discount(%)
                            %td Tax(%)
                            %td Amount
                        - @invoice.invoice_items.each do |elem|
                            %tr
                                - if elem.sales_item.nil?
                                    %td=elem.sales_custom_item.item_name
                                    %td=elem.quantity
                                    %td
                                    %td=elem.sales_custom_item.unit_price
                                    %td=elem.sales_custom_item.discount_rate
                                    %td=elem.sales_custom_item.tax_rate
                                    %td=elem.sub_total
                                - else
                                    %td=elem.sales_item.sold_item.name
                                    %td=elem.quantity
                                    %td=elem.unit_name
                                    %td=elem.sales_item.unit_price
                                    %td=elem.sales_item.discount_rate
                                    %td=elem.sales_item.tax_rate
                                    %td=elem.sub_total
            %tr.signature-box
                %td{colspan: 2}
                    %table.order-sign-info
                        %tr
                            %td.terms-info
                                %strong Terms & Conditions;
                                %br
                                %p{style: 'white-space: pre-wrap;'}=@invoice.sales_order.condition_term.description unless @invoice.sales_order.condition_term.nil?
                                %br

                            %td.signature-info
                                %table.total-info
                                    %tr
                                        %td Sub-Total
                                        %td="#{@standard_setting['format.currency']} #{@invoice.sub_total}"
                                    %tr
                                        %td Discount
                                        %td="#{@standard_setting['format.currency']} #{@invoice.discount}"
                                    %tr
                                        %td Tax
                                        %td="#{@standard_setting['format.currency']} #{@invoice.tax}"
                                    %tr
                                        %td Shipping Cost
                                        %td="#{@standard_setting['format.currency']} 0.00"
                                    %tr
                                        %td Total Balance Due
                                        %td="#{@standard_setting['format.currency']} #{@invoice.total}"

            %tr.footer-box
                %td{colspan: 2}=@invoice.sales_order.notes
            %tr.footer-box
                %td{colspan: 2}
                    ="Printed: #{DateTime.now.strftime('%d-%m-%Y')}"