=content_for :title, "Invoice - #{@invoice.token}"
.preview-print-box.text-right
    =link_to generate_pdf_invoice_path(@invoice), class: 'btn btn-primary', method: :post, target: '_blank' do
        Print
.preview-invoice-box
    %div{style: 'margin: 20px;'}
        %table.sales-order-box
            %tr.main-info-box
                %td{colspan: 2}
                    %table.order-main-info
                        %tr
                            - if Setting.value_by('invoice.logo') == 'on' && !Setting.value_by('company.image').nil?
                                %td.text-center.company-logo
                                    = image_tag("/images/logo/#{Setting.value_by('company.image')}")
                            - else
                                %td.no-padding
                            %td.company-title
                                %h2= @invoice.sales_order.customer.company_title
                                %p= @invoice.sales_order.customer.billing_address
                                %p="Phone: #{@invoice.sales_order.customer.phone}"
                                %p="Fax: #{@invoice.sales_order.customer.fax}"
                            %td.order-info.text-right
                                %p=@invoice.token
                                %p GST Number: 
                                %p 
                                    Date:
                                    =@invoice.created_at.to_date
                                %p Page
                        %tr
                            %td{colspan: 2}
                                %h3
                                    = Setting.value_by('invoice.title')
                                    =@invoice.token
                            %td.text-right
                                %p="Sales Order: #{@invoice.sales_order.token}"
                                %p="Processed By: #{@invoice.sales_order.booker.full_name}"
            %tr.address-box
                %td{width: "50%"}
                    %p="#{@company_profiles['company.name']}"
                    %p="#{@company_profiles['company.address']}"
                %td{width: "50%"}
                    %p Deliver To:
                    %p="#{@invoice.sales_order.customer.company_title}"
                    %p="#{@invoice.sales_order.ship_street} #{@invoice.sales_order.ship_suburb}"
                    %p="#{@invoice.sales_order.ship_city} #{@invoice.sales_order.ship_postcode}"
                    %p="#{@invoice.sales_order.ship_state} #{Country.coded(@invoice.sales_order.ship_country).name}"
            %tr.details-box
                %td{height: 400, colspan: 2}
                    %table.order-product-info
                        %tr.product-header
                            %td Product Name                        
                            %td Quantity
                            %td Unit
                            %td Unit Price
                            %td Discount(%)
                            %td Tax(%)
                            %td Amount
                        - @invoice.invoice_items.each do |elem|
                            %tr
                                - if elem.sales_item.nil?
                                    %td=elem.sales_custom_item.item_name
                                    %td=elem.quantity
                                    %td
                                    %td=elem.sales_custom_item.unit_price
                                    %td=elem.sales_custom_item.discount_rate
                                    %td=elem.sales_custom_item.tax_rate
                                    %td=elem.sub_total
                                - else
                                    %td=elem.sales_item.sold_item.name
                                    %td=elem.quantity
                                    %td=elem.unit_name
                                    %td=elem.sales_item.unit_price
                                    %td=elem.sales_item.discount_rate
                                    %td=elem.sales_item.tax_rate
                                    %td=elem.sub_total
            %tr.signature-box
                %td{colspan: 2}
                    %table.order-sign-info
                        %tr
                            %td.terms-info=@invoice.sales_order.condition_term.description unless @invoice.sales_order.condition_term.nil?
                            %td.signature-info
                                %table
                                    %tr
                                        %td.text-right{width: '25%'}
                                            Signature
                                        %td.td-underline{width: '35%'}
                                            %div
                                        %td.text-right{width: '15%'}
                                            Date
                                        %td.td-underline{width: '25%'}
                                            %div
                                    %tr
                                        %td.text-right
                                            Print Name
                                        %td.td-underline
                                            %div
                                        %td
                                        %td
                                            
            %tr.balance-box
                %td
                    %p Received with Thanks
                    %table
                        %tr
                            %td Cash
                            %td=@invoice.paid
                        %tr
                            %td Eftpos
                            %td $285.35

                %td.no-padding
                    %table.total-info
                        %tr.product-header
                            %td SubTotal
                            %td Total Discount
                            %td Shipping Cost
                            %td Tax
                            %td Total
                        %tr
                            %td=@invoice.sub_total
                            %td=@invoice.discount 
                            %td
                            %td=@invoice.tax
                            %td=@invoice.total

            %tr.footer-box
                %td{colspan: 2}=@invoice.sales_order.notes
            %tr.footer-box
                %td{colspan: 2}
                    ="Printed: #{DateTime.now.strftime('%d-%m-%Y')}"