= form_for(@sub_product, html: { class: 'form-horizontal form-label-left input_mask', 'data-parsley-validate' => '' }) do |f|
  .row
    .col-sm-6.col-md-offset-3
      - if flash[:alert]
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= flash[:alert]

      - if @sub_product.errors.any?
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= "There are #{pluralize(@sub_product.errors.count, "error")}."
          %ul
            - @sub_product.errors.full_messages.each do |msg|
              %li= msg
  .row{:style => 'margin-bottom: 10px;'}
    .col-sm-6
      %h4 Options
    .col-sm-6.text-right
      %a{:href => product_path(@sub_product.product, :type => 'all'), class: 'btn btn-default'} Cancel
      = f.submit "Save", class: 'btn btn-primary'
  .form-group  
    = f.hidden_field :product_id
    .col-sm-6{:style => "padding-right: 0;"}
      - unless @sub_product.option1.blank? || @sub_product.value1.blank?
        .row
          %label.col-sm-4.control-label=@sub_product.option1
          = f.hidden_field :option1
          .col-sm-8.form-group
            = f.text_field :value1, autofocus: true, class: 'form-control', :placeholder => "Value", :required => 'true'
      - unless @sub_product.option2.blank? || @sub_product.value2.blank?
        .row
          %label.col-sm-4.control-label=@sub_product.option2
          = f.hidden_field :option2
          .col-sm-8.form-group
            = f.text_field :value2, class: 'form-control', :placeholder => "Value", :required => 'true'
      - unless @sub_product.option3.blank? || @sub_product.value3.blank?
        .row
          %label.col-sm-4.control-label=@sub_product.option3
          = f.hidden_field :option3
          .col-sm-8.form-group
            = f.text_field :value3, class: 'form-control', :placeholder => "Value", :required => 'true'
    .col-sm-6{:style => "padding-right: 0;"}  
      .row
        %label.col-sm-4.control-label Product Image
        .col-sm-8.form-group
          %input{type: 'hidden', id: 'sub_product_image_url', value: @sub_product.id.nil? ? '' : @sub_product.image.url(:medium)}
          #kv-avatar-errors.center-block{:style => "display:none"}
          = f.file_field :image, style: 'padding-top: 7px;'
  .ln_solid
  .form-group
    .col-md-8
      %h4 Price Information
      %h5 Purchase Details
      %table.info-list.purchase
        %tr.purchase_exclude_tax
          %td Purchase Price
          %td
            = f.text_field :purchase_price_ex, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
        %tr.purchase_include_tax
          %td Purchase Price
          %td
            = f.text_field :purchase_price, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
        %tr
          %td Purchase Tax
          %td 
            = f.collection_select :purchase_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
        %tr
          %td.purchase-tax{colspan: 2} 
            Including Tax
            = f.check_box :purchase_price_type, class: 'js-switch purchase-tax-checkbox', data: {target: '.purchase-tax'}, :checked => true
            Excluding Tax
      %h5 Sales Details
      %table#selling_price_table.info-list.selling
        %tr.selling_exclude_tax.sell-price-row
          %td RRP
          %td
            = f.text_field :selling_price_ex, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
          %td.text-left{style: 'padding-left: 0'} 
            = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
          %td MP(%):
          %td
            = text_field_tag :mp_percent_ex, '', class: 'form-control mp-percent', :placeholder => "Markup %"
          %td GP(%):
          %td
            = text_field_tag :gp_percent_ex, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
        %tr.selling_include_tax.sell-price-row
          %td RRP
          %td
            = f.text_field :selling_price, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
          %td.text-left{style: 'padding-left: 0'} 
            = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
          %td MP(%):
          %td
            = text_field_tag :mp_percent, '', class: 'form-control mp-percent', :placeholder => "Markup %"
          %td GP(%):
          %td
            = text_field_tag :gp_percent, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
          = f.fields_for :prices do |price|
            = render partial: 'price_fields', locals: { f: price }
        %tr.selling-tax-box
          %td Selling Tax
          %td
            = f.collection_select :selling_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
          %td 
        %tr
          %td.selling-tax{colspan: 2} 
            Including Tax
            = f.check_box :selling_price_type, class: 'js-switch selling-tax-checkbox', data: {target: '.selling-tax'}
            Excluding Tax
          %td 
    .col-md-4
      %h4 Inventory Information
      %table.info-list
        %tr
          %td SKU
          %td
            = f.text_field :sku, class: 'form-control', :placeholder => "SKU"
        %tr
          %td Barcode
          %td
            = f.text_field :barcode, class: 'form-control', :placeholder => "Barcode"
        %tr
          %td Product Location*
          %td
            = select_tag :warehouse_name, options_from_collection_for_select(Warehouse.all, :id, :name, (@sub_product.warehouse.nil?) ? '' : @sub_product.warehouse.id), {class: 'form-control', include_blank: true, :required => 'true'}
        %tr
          %td Opening Stock Qty
          %td
            = f.text_field :open_qty, class: 'form-control', :placeholder => "Opening Stock Qty"            
        %tr
          %td Re-Order Point Qty
          %td
            = f.text_field :reorder_qty, class: 'form-control', :placeholder => "Re-Order Point Qty"                
  .ln_solid
:javascript
  jQuery(document).ready(function() {
    SubProducts.initSubProductNewForm();
  });