= form_for(@product, html: { class: 'form-horizontal form-label-left input_mask', 'data-parsley-validate' => '' }) do |f|
  .row
    .col-sm-6.col-md-offset-3
      - if @product.errors.any?
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= "There are #{pluralize(@product.errors.count, "error")}."
          %ul
            - @product.errors.full_messages.each do |msg|
              %li= msg
  .row{:style => 'margin-bottom: 10px;'}
    .col-sm-6
      %h4 Primary Details
    .col-sm-6.text-right
      %a{:href => list_by_type_products_path(:type => 'all'), class: 'btn btn-default'} Cancel
      = f.submit "Save", class: 'btn btn-primary'
  .form-group
    .col-sm-6{:style => "padding-right: 0;"}  
      .row
        %label.col-sm-4.control-label Barcode
        .col-sm-8.form-group
          = f.text_field :barcode, autofocus: true, class: 'form-control', :placeholder => "Barcode"
      .row
        %label.col-sm-4.control-label Product Name*
        .col-sm-8.form-group
          = f.text_field :name, class: 'form-control', :required => 'true', :placeholder => "Product Name"
      .row
        %label.col-sm-4.control-label Category*
        .col-sm-8.form-group
          = select_tag :category_name, options_from_collection_for_select(Category.all, :name, :name, (@product.category.nil?) ? '' : @product.category.name), {class: 'form-control', include_blank: true, :required => 'true'}          
      .row
        %label.col-sm-4.control-label Product Line*
        .col-sm-8.form-group
          = select_tag :product_line_name, options_from_collection_for_select(ProductLine.all, :name, :name, (@product.product_line.nil?) ? '' : @product.product_line.name), {class: 'form-control', include_blank: true, :required => 'true'}
      .row
        %label.col-sm-4.control-label Brand*
        .col-sm-8.form-group
          = select_tag :brand_name, options_from_collection_for_select(Brand.all, :name, :name, (@product.brand.nil?) ? '' : @product.brand.name), {class: 'form-control', include_blank: true, :required => 'true'}
      .row
        %label.col-sm-4.control-label Product Description
        .col-sm-8.form-group
          = f.text_area :description, class: 'form-control', :placeholder => "Product Description", rows: 4
    .col-sm-6{:style => "padding-right: 0;"}  
      .row
        %label.col-sm-4.control-label Product Image
        .col-sm-8.form-group
          %input{type: 'hidden', id: 'product_image_url', value: @product.image.url(:medium)}
          #kv-avatar-errors.center-block{:style => "display:none"}
          = f.file_field :image, style: 'padding-top: 7px;'
  .ln_solid
  .form-group
    .col-md-8
      %h4 Price Information
      %h5 Purchase Details
      %table.info-list.purchase
        %tr.purchase_exclude_tax
          %td Purchase Price
          %td
            = f.text_field :purchase_price_ex, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
        %tr.purchase_include_tax
          %td Purchase Price
          %td
            = f.text_field :purchase_price, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
        %tr
          %td Purchase Tax
          %td 
            = f.collection_select :purchase_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
        %tr
          %td.purchase-tax{colspan: 2} 
            Including Tax
            = f.check_box :purchase_price_type, class: 'js-switch purchase-tax-checkbox', data: {target: '.purchase-tax'}, :checked => true
            Excluding Tax
      %h5 Sales Details
      %table#selling_price_table.info-list.selling
        %tr.selling_exclude_tax.sell-price-row
          %td RRP
          %td
            = f.text_field :selling_price_ex, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
          %td.text-left{style: 'padding-left: 0'} 
            = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
          %td MP(%):
          %td
            = text_field_tag :mp_percent_ex, '', class: 'form-control mp-percent', :placeholder => "Markup %"
          %td GP(%):
          %td
            = text_field_tag :gp_percent_ex, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
        %tr.selling_include_tax.sell-price-row
          %td RRP
          %td
            = f.text_field :selling_price, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
          %td.text-left{style: 'padding-left: 0'} 
            = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
          %td MP(%):
          %td
            = text_field_tag :mp_percent, '', class: 'form-control mp-percent', :placeholder => "Markup %"
          %td GP(%):
          %td
            = text_field_tag :gp_percent, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
          = f.fields_for :prices do |price|
            = render partial: 'price_fields', locals: { f: price }
        %tr.selling-tax-box
          %td Selling Tax
          %td
            = f.collection_select :selling_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
          %td 
        %tr
          %td.selling-tax{colspan: 2} 
            Including Tax
            = f.check_box :selling_price_type, class: 'js-switch selling-tax-checkbox', data: {target: '.selling-tax'}
            Excluding Tax
          %td 
    .col-md-4
      %h4 Inventory Information
      %table.info-list
        %tr
          %td Product Location*
          %td
            = select_tag :warehouse_name, options_from_collection_for_select(Warehouse.all, :id, :name, (@product.warehouse.nil?) ? '' : @product.warehouse.id), {class: 'form-control', include_blank: true, :required => 'true'}
        %tr
          %td Opening Stock Qty
          %td
            = f.text_field :open_qty, class: 'form-control', :placeholder => "Opening Stock Qty"            
        %tr
          %td Re-Order Point Qty
          %td
            = f.text_field :reorder_qty, class: 'form-control', :placeholder => "Re-Order Point Qty"                

      %h4 Unit of Measure
      %table.info-list
        %tr
          %td Unit of Measure
          %td= select_tag "unit_class", options_from_collection_for_select(UnitCategory.all, :id, :name), class: 'form-control', :placeholder => "Unit of Measure Class", :required => true, :include_blank => 'Select Unit Class'
        %tr
          %td Unit Name
          %td Unit Ratio
        - if @product.units[0]
          %tr
            %td
              = hidden_field_tag "product_unit[0][id]", @product.units[0].id
              = text_field_tag "product_unit[0][name]", @product.units[0].name, class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[0][ratio]", @product.units[0].ratio, class: 'form-control', :placeholder => "Unit Ratio", :readonly => true
        - else
          %tr
            %td
              = hidden_field_tag "product_unit[0][id]", 0
              = text_field_tag "product_unit[0][name]", 'pc', class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[0][ratio]", '1', class: 'form-control', :placeholder => "Unit Ratio", :readonly => true

        - if @product.units[1]
          %tr
            %td
              = hidden_field_tag "product_unit[1][id]", @product.units[1].id
              = text_field_tag "product_unit[1][name]", @product.units[1].name, class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[1][ratio]", @product.units[1].ratio, class: 'form-control', :placeholder => "Unit Ratio"
        - else
          %tr
            %td
              = hidden_field_tag "product_unit[1][id]", 0
              = text_field_tag "product_unit[1][name]", '', class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[1][ratio]", '', class: 'form-control', :placeholder => "Unit Ratio"

        - if @product.units[2]
          %tr
            %td
              = hidden_field_tag "product_unit[2][id]", @product.units[2].id
              = text_field_tag "product_unit[2][name]", @product.units[2].name, class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[2][ratio]", @product.units[2].ratio, class: 'form-control', :placeholder => "Unit Ratio"
        - else
          %tr
            %td
              = hidden_field_tag "product_unit[2][id]", 0
              = text_field_tag "product_unit[2][name]", '', class: 'form-control', :placeholder => "Unit Name"
            %td
              = text_field_tag "product_unit[2][ratio]", '', class: 'form-control', :placeholder => "Unit Ratio"

  .ln_solid
  .form-group
    .col-md-12
      %h4 Product Variants
      #product_variant_list
        %table.info-list
          %tr#add_variant_block
            %td
              %a#add_variant{href: '#'}
                %b + Add Variant
      #sub_product_list
        %h5 Modify the variants to be created:
        %table.info-list
          %thead
            %tr
              %th
              %th Variant
              %th Inventory
              %th SKU
              %th Barcode
              %th Sale Price($)
          %tbody
  .ln_solid
:javascript
  jQuery(document).ready(function() {
    Products.initProductNewForm();
    ProductsVariant.initNewForm();
    $('#unit_class').change(function(){
      if($(this).val()){
        $.ajax({
          url: '/unit_measures/by_category?category_id=' + $(this).val(),
          type: 'GET',
          datatype: 'json',
          success: function(data){
            if(data.Result == "OK" && data.TotalRecordCount > 0){
              for(var i = 0; i < data.TotalRecordCount; i++){
                $('#product_unit_'+i+'_name').val(data.Records[i]['name']);
                $('#product_unit_'+i+'_ratio').val(data.Records[i]['ratio']);
              }
            }
          },
          error:function(){
            new PNotify({
              title: 'Error!',
              text: 'Order request is not processed.',
              type: 'error'
            });              
          }   
        });
      }
    });
  });