= form_for(@product, html: { class: 'form-horizontal form-label-left input_mask', 'data-parsley-validate' => '' }) do |f|
  .row
    .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
      - if @product.errors.any?
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= "There are #{pluralize(@product.errors.count, "error")}."
          %ul
            - @product.errors.full_messages.each do |msg|
              %li= msg
  .row{:style => 'margin-bottom: 10px;'}
    .col-md-6.col-sm-6.col-xs-12
      %h4 Primary Details
    .col-md-6.col-sm-6.col-xs-12.text-right
      %a{:href => list_by_type_products_path(:type => 'all'), class: 'btn btn-default'} Cancel
      = f.submit "Save", class: 'btn btn-primary'
  .form-group
    .col-md-6.col-sm-6.col-xs-12{:style => "padding-right: 0;"}  
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Barcode*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = f.text_field :barcode, autofocus: true, class: 'form-control', :required => 'true', :placeholder => "Barcode"
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Product Name*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = f.text_field :name, class: 'form-control', :required => 'true', :placeholder => "Product Name"
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Category*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = select_tag :category_name, options_from_collection_for_select(Category.all, :name, :name, (@product.category.nil?) ? '' : @product.category.name), {class: 'form-control', include_blank: true, :required => 'true'}          
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Product Line*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = select_tag :product_line_name, options_from_collection_for_select(ProductLine.all, :name, :name, (@product.product_line.nil?) ? '' : @product.product_line.name), {class: 'form-control', include_blank: true, :required => 'true'}
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Brand*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = select_tag :brand_name, options_from_collection_for_select(Brand.all, :name, :name, (@product.brand.nil?) ? '' : @product.brand.name), {class: 'form-control', include_blank: true, :required => 'true'}
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Product Description
        .col-md-8.col-sm-8.col-xs-12.form-group
          = f.text_area :description, class: 'form-control', :placeholder => "Product Description", rows: 4
    .col-md-6.col-sm-6.col-xs-12{:style => "padding-right: 0;"}  
      .row
        %label.col-md-4.col-sm-4.col-xs-12.control-label Product Image
        .col-md-8.col-sm-8.col-xs-12.form-group
          %input{type: 'hidden', id: 'product_image_url', value: @product.image.url(:medium)}
          #kv-avatar-errors.center-block{:style => "display:none"}
          = f.file_field :image, style: 'padding-top: 7px;'
  .ln_solid
  .form-group
    .row
      .col-md-12
        %h4 Price Information
    .row
      .col-md-12.col-sm-12.col-xs-12
        %h5 Purchase Details
        %table.info-list.purchase
          %tr.purchase_exclude_tax
            %td Purchase Price
            %td
              = f.text_field :purchase_price_ex, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
          %tr.purchase_include_tax
            %td Purchase Price
            %td
              = f.text_field :purchase_price, class: 'form-control', :required => 'true', :placeholder => "Purchase Price"
          %tr
            %td Purchase Tax
            %td 
              = f.collection_select :purchase_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
          %tr
            %td.purchase-tax{colspan: 2} 
              Including Tax
              = f.check_box :purchase_price_type, class: 'js-switch purchase-tax-checkbox', data: {target: '.purchase-tax'}, :checked => true
              Excluding Tax
      .col-md-12.col-sm-12.col-xs-12
        %h5 Sales Details
        %table#selling_price_table.info-list.selling
          %tr.selling_exclude_tax.sell-price-row
            %td RRP
            %td
              = f.text_field :selling_price_ex, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
            %td.text-left{style: 'padding-left: 0'} 
              = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
            %td MP(%):
            %td
              = text_field_tag :mp_percent_ex, '', class: 'form-control mp-percent', :placeholder => "Markup %"
            %td GP(%):
            %td
              = text_field_tag :gp_percent_ex, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
          %tr.selling_include_tax.sell-price-row
            %td RRP
            %td
              = f.text_field :selling_price, class: 'form-control sell-price', :required => 'true', :placeholder => "Selling Price"
            %td.text-left{style: 'padding-left: 0'} 
              = custom_link_to_add_fields '<i class="fa fa-icon fa-plus-circle"></i>', f, :prices, {class: 'add-sell-price'}
            %td MP(%):
            %td
              = text_field_tag :mp_percent, '', class: 'form-control mp-percent', :placeholder => "Markup %"
            %td GP(%):
            %td
              = text_field_tag :gp_percent, '', class: 'form-control gp-percent', :placeholder => "GP %", :readonly => true
            = f.fields_for :prices do |price|
              = render partial: 'price_fields', locals: { f: price }
          %tr.selling-tax-box
            %td Selling Tax
            %td
              = f.collection_select :selling_tax_id, Tax.all, :id, :short_desc, {include_blank: false}, {class: 'form-control'}
            %td 
          %tr
            %td.selling-tax{colspan: 2} 
              Including Tax
              = f.check_box :selling_price_type, class: 'js-switch selling-tax-checkbox', data: {target: '.selling-tax'}
              Excluding Tax
            %td 
  .ln_solid
  .form-group
    .row
      .col-md-12
        %h4 Inventory Information
      .col-md-12.col-sm-12.col-xs-12
        %table.info-list
          %tr
            %td Product Location*
            %td
              = select_tag :warehouse_name, options_from_collection_for_select(Warehouse.all, :id, :name, (@product.warehouse.nil?) ? '' : @product.warehouse.id), {class: 'form-control', include_blank: true, :required => 'true'}
          %tr
            %td Opening Stock Qty
            %td
              = f.text_field :open_qty, class: 'form-control', :placeholder => "Opening Stock Qty"            
          %tr
            %td Re-Order Point Qty
            %td
              = f.text_field :reorder_qty, class: 'form-control', :placeholder => "Re-Order Point Qty"            
  .ln_solid
:javascript
  jQuery(document).ready(function() {
    Products.initProductNewForm();
  });