.col-md-6.col-sm-6.col-xs-12.overview
  %h4 Product Details
  %table.info-list
    %tr
      %td Barcode:        
      %td= @product.barcode
    %tr
      %td Product Name:        
      %td= @product.name
    %tr
      %td Category:
      %td= @product.category.name
    %tr
      %td Product Line:
      %td= @product.product_line.name
    %tr
      %td Brand:
      %td= @product.brand.name    
    %tr
      %td SKU:
      %td= @product.sku
    %tr
      %td Description:
      %td= @product.description
.col-md-6.col-sm-6.col-xs-12.overview
  %table.info-list
    %tr
      %td.product-image 
        =image_tag(@product.image.url(:medium), class: 'product-thumbnail')        
.col-md-12.col-sm-12.col-xs-12.overview
  %h4 Price Information
  .col-lg-4.col-md-12.col-sm-12.col-xs-12.overview.no-padding
    %span Purchase Price
    %table.info-list
      %tr
        %td Purchase Cost:
        %td
          = number_to_currency(@product.main_purchase_price)
          %input.purchase_value{type: 'hidden', value: "#{@product.main_purchase_price}"}
      %tr
        %td Purchase Tax:
        %td= @product.purchase_tax.short_desc if @product.purchase_tax
      %tr
        %td{colspan: 2} 
          Including Tax
          = check_box_tag :purchase_price_type, "1", @product.purchase_price_type, class: 'js-switch', :disabled => :true
          Excluding Tax
  .col-lg-8.col-md-12.col-sm-12.col-xs-12.overview.no-padding
    %span Selling Price
    %table.info-list
      %tr.sell-price-row
        %td RRP:
        %td
          = number_to_currency(@product.main_selling_price)
          %input.sell-price{type: 'hidden', value: "#{@product.main_selling_price}"}
        %td MP:
        %td.mp-percent
        %td GP:
        %td.gp-percent
      - @product.prices.each do |item|
        %tr.sell-price-row
          %td= "#{item.name}:"            
          %td
            = number_to_currency(item.value)
            %input.sell-price{type: 'hidden', value: "#{item.value}"}
          %td MP:
          %td.mp-percent
          %td GP:
          %td.gp-percent
      %tr
        %td Selling Tax:
        %td= @product.selling_tax.short_desc if @product.selling_tax
      %tr
        %td{colspan: 2} 
          Including Tax
          = check_box_tag :selling_price_type, "1", @product.selling_price_type,  class: 'js-switch', :disabled => :true
          Excluding Tax
.col-md-12.col-sm-12.col-xs-12.overview
  %h4 Inventory Information
  %table.info-list
    %tr
      %td Product Location:
      %td= @product.warehouse.name unless @product.warehouse.nil?
    %tr
      %td Opening Stock:
      %td= @product.open_qty
    %tr
      %td On Hand Qty:
      %td= @product.quantity
    %tr
      %td Re-Order Point:
      %td= @product.reorder_qty
:javascript
  jQuery(document).ready(function() {
    ProductDetail.initProductOverview();
  });