.col-md-6.col-sm-6.col-xs-12.overview
  %h4 Product Details
  %table.info-list
    %tr
      %td Product Name:        
      %td= @product.name
    %tr
      %td Category:
      %td= @product.category.name
    %tr
      %td Product Line:
      %td= @product.product_line.name
    %tr
      %td Brand:
      %td= @product.brand.name    
    %tr
      %td SKU:
      %td= @product.sku
  %h4 Sales Details
  %table.info-list
    %tr
      %td Selling Cost:
      %td= number_to_currency(@product.main_selling_price)
    %tr
      %td Selling Tax:
      %td= @product.selling_tax.short_desc if @product.selling_tax
    %tr
      %td Include Tax
      %td 
        = check_box_tag :selling_price_type, "1", @product.selling_price_type,  class: 'js-switch', :disabled => :true
  %h4 Purchase Details
  %table.info-list
    %tr
      %td Purchase Cost:
      %td= number_to_currency(@product.main_purchase_price)
    %tr
      %td Purchase Tax:
      %td= @product.purchase_tax.short_desc if @product.purchase_tax
    %tr
      %td Include Tax
      %td 
        = check_box_tag :purchase_price_type, "1", @product.purchase_price_type, class: 'js-switch', :disabled => :true
  %h4 Product Description
  %table.info-list
    %tr
      %td= @product.description

.col-md-6.col-sm-6.col-xs-12.overview
  %table.info-list
    %tr
      %td 
        =image_tag(@product.image)
    %tr
      %td Opening Stock
    %tr
      %td 100
    %tr
      %td On Hand Qty
    %tr
      %td 100
    %tr
      %td Re-Order Point
    %tr
      %td 100
    %tr
      %td Qty to Received
    %tr
      %td 100
