.row
  .col-md-12.col-sm-12.col-xs-12
    .title_right
      .col-md-8.col-sm-8.col-xs-12
        - if !params[:key].blank?
          %h4
            Search by "#{params[:key]}"
  .col-md-12
    %table.table.table-hover.projects
      %thead
        %tr
          %th
            %input.group-checkable{type: 'checkbox'}
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'name', sort: 'asc'} do
              Name/SKU              
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'category', sort: 'asc'} do
              Category
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'brand', sort: 'asc'} do
              Brand
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'line', sort: 'asc'} do
              Product Line
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'quantity', sort: 'asc'} do
              Avaliable
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'price', sort: 'asc'} do
              Selling Price
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'status', sort: 'asc'} do
              Status
          %th
            Action
      %tbody
      - @products.each do |product|
        %tr{class: "status-#{product.status_label.downcase}"}
          %td.bulk_action  
            %input{type: 'checkbox', value: "#{product.id}", name: "table_records"}
          %td 
            %a{:href => product_path(product, type: params[:type])}
              =product.name
              %br
              =product.sku
          %td
            =product.category.name
          %td
            =product.brand.name
          %td
            =product.product_line.name
          %td
            =product.quantity
          %td
            =product.selling_price
          %td 
            =product.stock_status_text
          %td 
            %a.btn.btn-info.btn-xs{:href => edit_product_path(product), title: 'Edit'}
              %i.fa.fa-icon.fa-pencil
            =link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs", title: 'Delete' do
              %i.fa.fa-trash-o              
  .col-md-12{:style => "text-align: center;"}  
    = will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
    %input{type: 'hidden', id: 'params', data: { order: "#{params[:order]}", sort: "#{params[:sort]}", key: "#{params[:key]}", type: "#{params[:type]}"}}
:javascript
  jQuery(document).ready(function() {
    Products.initProductList();
  });