.row
  .col-md-12
    .title_right
      .col-md-8.col-sm-8.col-xs-12
        - if !params[:key].blank?
          %h4
            Search by "#{params[:key]}"
  .col-md-12
    %table.table.table-hover.projects
      %thead
        %tr
          %th{:style => "width: 1%"}
          %th{:style => "width: 35%"} 
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'name', sort: 'asc'} do
              Name/SKU              
          %th{:style => "width: 20%"} 
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'line', sort: 'asc'} do
              Product Line
          %th{:style => "width: 10%"} 
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'quantity', sort: 'asc'} do
              Avaliable
          %th{:style => "width: 10%"} 
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'price', sort: 'asc'} do
              Price
          %th{:style => "width: 15%"} 
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'status', sort: 'asc'} do
              Status
          %th{:style => "width: 15%"} Action
      %tbody
      - @products.each do |product|
        %tr
          %td 
          %td 
            %a{:href => product_path(product, type: params[:type])}
              =product.name
              %br
              =product.sku
          %td
            =product.product_line.name
          %td
            =product.quantity
          %td
            =product.main_selling_price
          %td 
            =product.stock_status_text
          %td 
            %a.btn.btn-info.btn-xs{:href => edit_product_path(product)}
              %i.fa.fa-icon.fa-pencil
            =link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do
              %i.fa.fa-trash-o              
  .col-md-12{:style => "text-align: center;"}  
    = will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
:javascript
  jQuery(document).ready(function() {
    initial_header();

    function initial_header(){
      var order_key = "#{params[:order]}";
      var order_sort = "#{params[:sort]}";
      $('.link_order_by').each(function(){
        if($(this).data('key') == order_key){
          var html = '';
          if(order_sort == "desc"){
            $(this).data('sort', 'asc');
            html = '<i class="fa fa-icon fa-angle-down"></i>';
          } else {
            $(this).data('sort', 'desc');
            html = '<i class="fa fa-icon fa-angle-up"></i>';
          }
          $(this).append(html);
        }
      });
    }

    $('.link_order_by').click(function(){
      var searchKey = '#{params[:key]}';
      if(searchKey){
        window.location.href='?order='+$(this).data('key')+'&sort='+$(this).data('sort') + '&key=' + searchKey;
      } else {
        window.location.href='?order='+$(this).data('key')+'&sort='+$(this).data('sort');
      }      
    });
  });