.right_col.products-wrapper{:role => "main"}
  .x_panel
    .x_title
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
        %h2
          =t("product.container.list.header.#{params[:type]}")
          %span.fa.fa-chevron-down.list-type-down
      %ul.dropdown-menu
        %li
          = link_to list_by_type_products_path(:type => 'all') do
            All Products            
        %li
          = link_to list_by_type_products_path(:type => 'active'), class: "no-border" do
            Active Products
        %li
          = link_to list_by_type_products_path(:type => 'inactive') do
            Inactive Products
        %li
          = link_to list_by_type_products_path(:type => 'varient'), class: "no-border" do
            Varients Products
        %li
          = link_to list_by_type_products_path(:type => 'low-stock'), class: "no-border" do
            Low Stock Products
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.add-link{ :href => new_product_path }
            %i.fa.fa-cart-plus
            %span New Product
        %li
          %a.add-link{ :href => upload_products_path }
            %i.fa.fa-cloud-upload
            %span Upload Products
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      = render 'product_list'
:javascript
  jQuery(document).ready(function() {
    $('#sidebar-menu li').removeClass('current-page');
    $('#sidebar-menu li').removeClass('active');
    $('#sidebar-menu li.nav-products').addClass('active');
    $('#sidebar-menu li.nav-products ul.child_menu li').removeClass('current-page');
    $('#sidebar-menu li.nav-products ul.child_menu li:nth-child(1)').addClass('current-page');
    $('#sidebar-menu li.nav-products ul.child_menu').show();
  });      