.right_col.products-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_product', add_url: new_product_path, active_elem: "sub-nav-#{params[:type]}", nav_name: 'Product', cat_name: 'Product'
  .right-content
    .x_panel
      .x_title
        %h2=t("product.container.list.header.#{params[:type]}")
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        .row
          .title_right
            .col-md-8.col-sm-8.col-xs-12
              - if !params[:search_key].blank?
                %h4
                  Search by "#{params[:search_key]}"
            .col-md-4.col-sm-4.col-xs-12.form-group.pull-right.top_search
              .input-group
                %input.form-control{:placeholder => "Search for...", :type => "text", :id => "search_key"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button", :id => "btn_search_list"} 
                    %i.fa.fa-search
        = render 'product_list'
:javascript
  jQuery(document).ready(function() {
    $('#btn_search_list').on('click', function(){
      window.location.href = '#{list_by_type_products_path(params[:type])}' + '?search_key=' + $('#search_key').val();
    });
  });