.right_col.products-wrapper{:role => "main"}
  .x_panel
    .x_title
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
        %h2
          =t("product.container.list.header.#{params[:type]}")
          %span.fa.fa-chevron-down.list-type-down
      %ul.dropdown-menu
        %li
          = link_to list_by_type_products_path(:type => 'all') do
            All Products            
        %li
          = link_to list_by_type_products_path(:type => 'active'), class: "no-border" do
            Active Products
        %li
          = link_to list_by_type_products_path(:type => 'inactive'), class: "no-border" do
            Inactive Products
        %li
          = link_to list_by_type_products_path(:type => 'removed') do
            Deleted Products
        %li
          = link_to list_by_type_products_path(:type => 'varient'), class: "no-border" do
            Varients Products
        %li
          = link_to list_by_type_products_path(:type => 'low-stock'), class: "no-border" do
            Low Stock Products
      .action-box
        = form_tag bulk_action_products_path, id: 'form_bulk_action', method: :post do
          = select_tag :bulk_action, options_for_select([['Mark as Active', 1], ['Mark as Inactive', 2], ['Delete', 3]]), {:include_blank => 'Select Action', class: 'form-control'}
          = hidden_field_tag :key, params[:key]
          = hidden_field_tag :sort, params[:sort]
          = hidden_field_tag :order, params[:order]
          = hidden_field_tag :type, params[:type]
          = hidden_field_tag :product_ids, params[:product_ids]
          %button.btn.btn-primary.action-submit Submit                  
      %ul.nav.navbar-right.panel_toolbox
        %li
          %a.add-link{ :href => new_product_path }
            %i.fa.fa-cart-plus
            %span New
        %li
          %a.add-link{ :href => upload_products_path }
            %i.fa.fa-cloud-upload
            %span Import
        %li
          %a.add-link{ :href => download_products_path(type: params[:type], key: params[:key], sort: params[:sort], order: params[:order], format: 'csv') }
            %i.fa.fa-cloud-download
            %span Export
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      = render 'product_list'
:javascript
  jQuery(document).ready(function() {
    Products.initProductListPage();
  });      