.right_col.supplier-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_people', add_url: new_supplier_path(), active_elem: "sub-nav-#{@supplier.id}", nav_name: 'Suppliers', sub_elems: @suppliers, type: 'show', cat_name: 'Supplier'
  .right-content
    .x_panel
      .x_title
        %a{:href => edit_supplier_path(@supplier)}
          %h2
            =@supplier.full_name
        %span.label{class: @supplier.status_class}
          = "#{@supplier.status.capitalize}"        
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content.form-group-no-margin
        / Nav tabs
        %ul.nav.nav-tabs.bar_tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_overview", "aria-expanded" => "true"} 
              Overview                                    
          %li
            %a{"data-toggle" => "tab", :href => "#tab_transaction", "aria-expanded" => "false"} 
              Transaction
          %li
            %a{"data-toggle" => "tab", :href => "#tab_productlist", "aria-expanded" => "false"} 
              Product List
          %li
            %a{"data-toggle" => "tab", :href => "#tab_statement", "aria-expanded" => "false"} 
              Statement
        .tab-content
          #tab_overview{:class => "tab-pane active"}
            = render 'partial_overview'
          #tab_transaction{:class => "tab-pane"}
            /= render 'form_document'
          #tab_productlist{:class => "tab-pane"}
            /= render 'form_contact'
          #tab_statement{:class => "tab-pane"}
            /= render 'form_contact'
