= form_for(@sales_order, html: { class: 'form-horizontal form-label-left input_mask', 'data-parsley-validate' => '' }) do |f|
  .row
    .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
      - if @sales_order.errors.any?
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= "There are #{pluralize(@sales_order.errors.count, "error")}."
          %ul
            - @sales_order.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-6.col-sm-6.col-xs-12
      .form-group{style: 'margin-top: 10px;'}
        %label.col-md-4.col-sm-4.col-xs-12.control-label Customer Name*
        .col-md-8.col-sm-8.col-xs-12.form-group
          = f.collection_select :customer_id, Customer.ordered, :id, :name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
    .col-md-6.col-sm-6.col-xs-12.text-right
      %h3{style: 'padding-right: 15px;'}
        = @sales_order.token
      = f.hidden_field :token
  .ln_solid_narrow
  .row
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Person*
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :booked_by_id, User.all, :id, :full_name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Issue Date*
        .col-md-8.col-sm-8.col-xs-12
          %fieldset.xdisplay_inputx.has-feedback
            = f.text_field :order_date, class: 'form-control has-feedback-left', :id => "order_date", :required => 'true', "aria-describedby" => "inputSuccess2Status4", :placeholder => "Issue Date"
            %span.fa.fa-calendar-o.form-control-feedback.left.col-12{"aria-hidden" => "true"}
            %span#inputSuccess2Status4.sr-only (success)        
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Estimated Ship Date
        .col-md-8.col-sm-8.col-xs-12
          %fieldset.xdisplay_inputx.has-feedback
            = f.text_field :estimate_ship_date, class: 'form-control has-feedback-left', :id => "estimate_ship_date", "aria-describedby" => "inputSuccess2Status4", :placeholder => "Estimated Ship Date"
            %span.fa.fa-calendar-o.form-control-feedback.left.col-12{"aria-hidden" => "true"}
            %span#inputSuccess2Status4.sr-only (success)        
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Shipping Method*
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Price List
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :price_name, Price.select(:name).group(:name), :name, :name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Person
        .col-md-8.col-sm-8.col-xs-12
          = f.select :contact_name, {}, {:include_blank => true}, {:class => 'form-control'}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Phone
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :contact_phone, class: 'form-control', :placeholder => "Contact Phone"
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Email
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :contact_email, class: 'form-control', :placeholder => "Contact Email"
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Payment Terms*
        .col-md-8.col-sm-8.col-xs-12
          = f.select :payment_term, ApplicationHelper::PAYMENT_TERMS.collect {|x| [x, ApplicationHelper::PAYMENT_TERMS.index(x) + 1]}, {}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Reference Number
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :ref_no, class: 'form-control', :placeholder => "Reference Number"
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Description
        .col-md-8.col-sm-8.col-xs-12
          = f.text_area :notes, cols: 40, rows: 2, class: 'form-control'
      .row
        .col-md-6.col-sm-6.col-xs-12
          %label Billing Address
          %address#billing_info{:style => "padding-top: 8px; margin-bottom: 0;"}
        .col-md-6.col-sm-6.col-xs-12
          %label Shipping Address
          %address#shipping_info{:style => "padding-top: 8px; margin-bottom: 0;"}
  .ln_solid_narrow
  .row
    .col-md-12
      %h4 Product Information
      .row
        .col-md-12{:style => "text-align: right"}
          %button#add_product.btn.btn-success.btn-xs{:type => "button"}
            %i.fa.fa-plus
            Add Product      
      / start project list
      %table.table.table-hover.projects.margin-bottom-5
        %thead
          %tr
            %th
              Product Details
            %th Quantity
            %th Unit Price
            %th Discount(%)
            %th Tax(%)
            %th Amount
            %th Action
        %tbody

      %table.table.projects
        %tbody
          %tr
            %td{:style => 'border:none; background: white; width:60%;'} 
            %td{:style => 'border:none; background: white; width:10%;'} 
              %b SubTotal:
            %td#sub_total_cell.money{:style => 'border:none; background: white; width:15%;'}
            %td{:style => 'border:none; background: white; width:15%;'}
          %tr
            %td{:style => 'border:none; background: white; width:60%;'} 
            %td{:style => 'border:none; background: white; width:10%;'} 
              %b Discount:
            %td#discount_total_cell.money{:style => 'border:none; background: white; width:15%;'}
            %td{:style => 'border:none; background: white; width:15%;'}
          %tr
            %td{:style => 'border:none; background: white; width:60%;'} 
            %td{:style => 'border:none; background: white; width:10%;'} 
              %b Tax:
            %td#tax_total_cell.money{:style => 'border:none; background: white; width:15%;'}
            %td{:style => 'border:none; background: white; width:15%;'}
          %tr
            %td{:style => 'border:none; background: white; width:60%;'} 
            %td{:style => 'border:none; background: white; width:10%;'} 
              %b Total:
            %td#total_cell.money{:style => 'border:none; background: white; width:15%;'}
            %td{:style => 'border:none; background: white; width:15%;'}
:javascript
  jQuery(document).ready(function() {
    SalesOrdersNew.initSalesOrderNewForm();
  });

:javascript
  var t = new Table({
      id: "product_list",
      fields: {
          "SKU": {
              "class": "edit",
              "type": "string",
              "css" : 'style = "width: 10%"'
          }, 
          "Product Name": {
              "class": "edit",
              "type": "string",
              "css" : 'style = "width: 20%"'
          },
          "Quantity": {
              "class": "edit",
              "type": "int",
              "css" : 'style = "width: 10%"',
              "field_name" : 'quantity'
          },
          "Unit Price": {
              "class": "edit",
              "type": "money",
              "css" : 'style = "width: 10%"',
              "field_name" : 'unit_price'
          }, 
          "Discount(%)": {
              "class": "edit",
              "type": "float",
              "css" : 'style = "width: 10%"',
              "field_name" : 'discount_rate'
          },
          "Tax(%)": {
              "class": "edit",
              "type": "float",
              "css" : 'style = "width: 10%"',
              "field_name" : 'tax_rate'
          },
          "Line Total": {
              "class": "money",
              "type": "calc",
              "formula": [
                  { "multiply": [{ "c": -3 }, { "c": -4 }] }
              ],
              "css" : 'style = "width: 15%"'
          },
          "Action": {
              "class": "",
              "type": "html",
              "css" : 'style = "width: 15%"'
          },          
          "ProductId": {
              "class": "",
              "type": "int",
              "css" : 'style = "width: 0%; display:none;"',
              "style" : 'display:none;',
              "field_name" : 'sold_item_id'
          }          
      },
      data: [],
      direction: "asc"
  });

  function initCustomerAddress(){
    if($('#sales_order_customer_id').val() > 0){
      detail_url = "/customer/detail_info/" + $('#sales_order_customer_id').val();
      $.ajax({
        url: detail_url,
        type: "post",
        datatype: 'json',
        success: function(data){
          contact_info_html =  "Email : " + data.email + "<br/>";
          contact_info_html += "Phone : " + data.phone + "<br/>";
          contact_info_html += "Fax : " + data.fax + "<br/>";
          $('#contact_info').html(contact_info_html);
          $('#billing_info').html(data.billing);
          $('#shipping_info').html(data.shipping);
        },
        error:function(){
        }   
      });                     
    }
  }

  $(document).ready(function() {
    var grid_data = [#{@item_data}];    
    t.setdata(grid_data);
    t.render();
    initCustomerAddress();

    $("#add_product").on("click", function() {
        t.addRow();
    });    

    $("#product_list").on("click", '.delete-row', function() {
      var row_id = $(this).attr('data-id');
      t.delRow(row_id);
    });    

    $(".select2_customer").select2({
      placeholder: "Select a Customer",
      allowClear: true
    });

    $.listen('parsley:field:validate', function() {
      validateFront();
    });

    var form_id = "#{(@sales_order.id.blank?) ? "#new_sales_order" : "#edit_sales_order_" + @sales_order.id.to_s }";
    $( form_id + ' #btn_submit').on('click', function() {
      var validate = $(form_id).parsley().validate();
      validateFront();
      if(validate === true){
        var reqData = $(form_id).serializeArray();
        reqData.push({name: 'sales_order[total_amount]', value: $('#total_cell').text()});
        tdata = t.serialize();
        for(i = 0; i < tdata.length; i++){
          for(key in tdata[i]){
            item_key = 'sales_order[sales_items_attributes]['+i+']['+key+']';
            reqData.push({name: item_key, value: tdata[i][key]});
          }
        }
        var reqUrl = "/sales_orders" + "#{(@sales_order.id.blank?) ? "" : "/" + @sales_order.id.to_s}";
        $.ajax({
          url: reqUrl,
          type: "post",
          datatype: 'json',
          data: reqData,
          success: function(data){
            if(data.Result == "OK"){
              window.location.href = "/sales_orders";
            } else {
              new PNotify({
                title: 'Error!',
                text: data.Message,
                type: 'error'
              });              
            }
          },
          error:function(){
            new PNotify({
              title: 'Error!',
              text: 'Order request is not processed.',
              type: 'error'
            });              
          }   
        });                         
      } else {        
      }
      
    });

    var validateFront = function() {
      if (true === $(form_id).parsley().isValid()) {
        $('.bs-callout-info').removeClass('hidden');
        $('.bs-callout-warning').addClass('hidden');
      } else {
        $('.bs-callout-info').addClass('hidden');
        $('.bs-callout-warning').removeClass('hidden');
      }
    };

  });
