= form_for(@sales_order, html: { class: 'form-horizontal form-label-left input_mask', 'data-parsley-validate' => '' }) do |f|
  .row
    .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
      - if @sales_order.errors.any?
        .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×   
          %h2{'style' => "text-align:center;"}= "There are #{pluralize(@sales_order.errors.count, "error")}."
          %ul
            - @sales_order.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-6.col-sm-6.col-xs-10
      .form-group{style: 'margin-top: 10px;'}
        %label.col-md-4.col-sm-4.col-xs-12.control-label Customer Name*
        .col-md-7.col-sm-7.col-xs-12.form-group.customer-box
          = collection_select :customer_id, '', Customer.ordered, :id, :name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
        .col-md-1.col-sm-1.col-xs-12.form-group.no-padding
          %a.btn.btn-xs.add-customer{href: new_customer_path()}
            %i.fa.fa-icon.fa-plus-circle
    .col-md-6.col-sm-6.col-xs-12.text-right
      %h3{style: 'padding-right: 15px;'}
        = @sales_order.token
      = f.hidden_field :token
      = f.hidden_field :id
      = hidden_field_tag :save_action
      = hidden_field_tag :email_action
  .ln_solid_narrow
  .row
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Person*
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :booked_by_id, User.all, :id, :full_name, {:selected => current_user.id}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Issue Date*
        .col-md-8.col-sm-8.col-xs-12
          %fieldset.xdisplay_inputx.has-feedback
            = f.text_field :order_date, class: 'form-control has-feedback-left', :id => "order_date", :required => 'true', "aria-describedby" => "inputSuccess2Status4", :placeholder => "Issue Date"
            %span.fa.fa-calendar-o.form-control-feedback.left.col-12{"aria-hidden" => "true"}
            %span#inputSuccess2Status4.sr-only (success)        
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Estimated Ship Date
        .col-md-8.col-sm-8.col-xs-12
          %fieldset.xdisplay_inputx.has-feedback
            = f.text_field :estimate_ship_date, class: 'form-control has-feedback-left', :id => "estimate_ship_date", "aria-describedby" => "inputSuccess2Status4", :placeholder => "Estimated Ship Date"
            %span.fa.fa-calendar-o.form-control-feedback.left.col-12{"aria-hidden" => "true"}
            %span#inputSuccess2Status4.sr-only (success)        
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Shipping Method*
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, {:include_blank => true}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Price List
        .col-md-8.col-sm-8.col-xs-12
          = f.collection_select :price_name, Price.select(:name).group(:name), :name, :name, {:include_blank => true}, {:class => 'form-control'}
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Person
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :contact_name, {:class => 'form-control'}
          #contact_container
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Phone
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :contact_phone, class: 'form-control', :placeholder => "Contact Phone"
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Email
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :contact_email, class: 'form-control', :placeholder => "Contact Email"
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Payment Terms*
        .col-md-8.col-sm-8.col-xs-12
          = f.select :payment_term, ApplicationHelper::PAYMENT_TERMS.collect {|x| [x, ApplicationHelper::PAYMENT_TERMS.index(x) + 1]}, {}, {:class => 'form-control', :required => "true"}
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Reference Number
        .col-md-8.col-sm-8.col-xs-12
          = f.text_field :ref_no, class: 'form-control', :placeholder => "Reference Number"
      .row
        .col-md-6.col-sm-6.col-xs-12.text-center
          %a.btn{href: '#', data: {toggle: 'modal', target: '.bs-billing-modal'}}
            %label Billing Address
          %address#billing_info{:style => "padding-top: 8px; margin-bottom: 0;"}
          = f.hidden_field :bill_street
          = f.hidden_field :bill_suburb
          = f.hidden_field :bill_city
          = f.hidden_field :bill_state
          = f.hidden_field :bill_postcode
          = f.hidden_field :bill_country
          .modal.fade.bs-billing-modal{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
            .modal-dialog.modal-md
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4.modal-title Billing Address
                .modal-body
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Street
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :bill_street, '', class: 'form-control', :placeholder => "Street"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Suburb
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :bill_suburb, '', class: 'form-control', :placeholder => "Suburb"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 City
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :bill_city, '', class: 'form-control', :placeholder => "City"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 State
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :bill_state, '', class: 'form-control', :placeholder => "State"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Postcode
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :bill_postcode, '', class: 'form-control', :placeholder => "Postcode"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Country
                    .col-md-8.col-sm-8.col-xs-12
                      = country_select :bill_country, '',  priority: %w(NZ), prompt: 'Select a Country', class: 'form-control'
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button#btn_bill_save.btn.btn-primary{:type => "button", "data-dismiss" => "modal"} Save changes

        .col-md-6.col-sm-6.col-xs-12.text-center
          %a.btn{href: '#', data: {toggle: 'modal', target: '.bs-shipping-modal'}}
            %label Shipping Address
          %address#shipping_info{:style => "padding-top: 8px; margin-bottom: 0;"}
          = f.hidden_field :ship_street
          = f.hidden_field :ship_suburb
          = f.hidden_field :ship_city
          = f.hidden_field :ship_state
          = f.hidden_field :ship_postcode
          = f.hidden_field :ship_country
          .modal.fade.bs-shipping-modal{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
            .modal-dialog.modal-md
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4.modal-title Shipping Address
                .modal-body
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Street
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :ship_street, '', class: 'form-control', :placeholder => "Street"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Suburb
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :ship_suburb, '', class: 'form-control', :placeholder => "Suburb"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 City
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :ship_city, '', class: 'form-control', :placeholder => "City"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 State
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :ship_state, '', class: 'form-control', :placeholder => "State"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Postcode
                    .col-md-8.col-sm-8.col-xs-12
                      = text_field_tag :ship_postcode, '', class: 'form-control', :placeholder => "Postcode"
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Country
                    .col-md-8.col-sm-8.col-xs-12
                      = country_select :ship_country, '', priority: %w(NZ), class: 'form-control', prompt: 'Select a Country'
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button#btn_ship_save.btn.btn-primary{:type => "button", "data-dismiss" => "modal"} Save changes
  .ln_solid_narrow
  .row
    .col-md-12
      %h4 Product Information
      / start project list
      %table#product_list.table.table-hover.projects.margin-bottom-5
        %thead
          %tr
            %th
              Product Details
            %th Quantity
            %th Unit Price
            %th Discount(%)
            %th Tax(%)
            %th Amount
            %th
        %tbody

  .row.form-group 
    .col-md-6.text-center
      %a#add_product.btn{href: 'javascript:;'}
        %i.fa.fa-icon.fa-cube
        + Add New Product
    .col-md-6.text-center
      %a.btn
        + Add Custom Product

  .ln_solid_narrow
  .row
    .col-md-6          
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Customer Note
        .col-md-8.col-sm-8.col-xs-12
          = f.text_area :notes, cols: 40, rows: 5, class: 'form-control order-note'      
    .col-md-6          
      %table.table.projects
        %tbody
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b SubTotal:
            %td#sub_total_cell.money{:style => 'border:none; background: white; width:40%;'}
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Total Discount:
            %td#discount_total_cell.money{:style => 'border:none; background: white; width:40%;'}
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Shipping Cost:
            %td#shipping_total_cell.money{:style => 'border:none; background: white; width:40%;'}
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Tax:
            %td#tax_total_cell.money{:style => 'border:none; background: white; width:40%;'}
          %tr
            %td{:style => 'border:none; background: white; text-align: right;'} 
              %b Total:
            %td#total_cell.money{:style => 'border:none; background: white; width:40%;'}

  .ln_solid_narrow
  .row
    .col-md-6
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Terms & Condition
        .col-md-8.col-sm-8.col-xs-12
          /= f.select :contact_name, {}, {:include_blank => true}, {:class => 'form-control'}


:javascript
  jQuery(document).ready(function() {
    SalesOrdersNew.initSalesOrderNewForm();
  });

:javascript
  var t = new Table({
      id: "product_list",
      fields: {
          "Product Name": {
              "class": "edit",
              "type": "string",
              "css" : 'style = "width: 30%"'
          },
          "Quantity": {
              "class": "edit",
              "type": "int",
              "css" : 'style = "width: 15%"',
              "field_name" : 'quantity'
          },
          "Unit Price": {
              "class": "edit",
              "type": "money",
              "css" : 'style = "width: 10%"',
              "field_name" : 'unit_price'
          }, 
          "Discount(%)": {
              "class": "edit",
              "type": "float",
              "css" : 'style = "width: 10%"',
              "field_name" : 'discount_rate'
          },
          "Tax(%)": {
              "class": "edit",
              "type": "float",
              "css" : 'style = "width: 10%"',
              "control" : "#tax_select_",
              "field_name" : 'tax_rate'
          },
          "Amount": { 
              "class": "money", 
              "type": "calc", 
              "formula": [ 
                  { "line_total": [{ "c": -3 }, { "c": -4 }, {"c": -2}] } 
              ], 
              "css" : 'style = "width: 15%"' 
          },           
          " ": {
              "class": "",
              "type": "html",
              "css" : 'style = "width: 10%"'
          },          
          "ProductId": {
              "class": "",
              "type": "int",
              "css" : 'style = "width: 0%; display:none;"',
              "style" : 'display:none;',
              "field_name" : 'sold_item_id'
          }          
      },
      data: [],
      direction: "asc"
  });

  $(document).ready(function() {
    var grid_data = [#{@item_data}];    
    t.setdata(grid_data);
    t.render();

    $("#add_product").on("click", function() {
        t.addRow();
    });    

    $("#product_list").on("click", '.delete-row', function() {
      var row_id = $(this).attr('data-id');
      t.delRow(row_id);
    });    

  });
