.form-horizontal.form-label-left
  .row.no-margin
    .col-md-6.col-sm-6.col-xs-12
      %h4 Order Main Information
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Customer Name
        %span.col-md-8.col-sm-8.col-xs-12.field-value          
          = @sales_order.customer.name
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Order #
        %span.col-md-8.col-sm-8.col-xs-12.field-value          
          = @sales_order.token
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Total
        %span.col-md-8.col-sm-8.col-xs-12.field-value          
          = "#{Setting.value_by('format.currency')}"
          = @sales_order.total_amount
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Invoice Total
        %span.col-md-8.col-sm-8.col-xs-12.field-value          
          = "#{Setting.value_by('format.currency')}"
          = @sales_order.invoice_total
      .form-group
        %label.control-label.col-md-4.col-sm-4.col-xs-12 Paid
        %span.col-md-8.col-sm-8.col-xs-12.field-value          
          = "#{Setting.value_by('format.currency')}"
          = @sales_order.total_paid_amount
  .row.no-margin
    .col-md-12
      %h4 Invoice List
      %div
        %table#invoice_activity_list.activity_list.table.table-bordered.projects.margin-bottom-5
          %thead
            %tr
              %th Invoice Number
              %th Invoice Date
              %th= "Total (#{Setting.value_by('format.currency')})"
              %th= "Paid (#{Setting.value_by('format.currency')})"
              %th Status
              %th{width: '10%'} 

          %tbody
            - @sales_order.invoices.each do |item| 
              %tr
                %td
                  %a.view-invoice-link{href: '#', data: {toggle: 'modal', target: "#inovice_detail_modal_#{item.id}"}}
                    = item.token
                %td
                  = item.created_at.to_date
                %td
                  = item.total
                %td{id: "invoice_paid_#{item.id}"}
                  = item.total_paid
                %td{id: "invoice_status_#{item.id}"}
                  %span.label{class: item.status_class}=item.status_text.upcase
                %td.text-right{style: "position: relative;"}
                  %button.btn.btn-default.btn-sm.dropdown-toggle.btn-more{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                    Actions
                    %span.caret
                  %ul.dropdown-menu.more-action{:role => "menu", style: "right: 0; left: auto; top: 35px;"}
                    %li
                      =link_to invoice_path(item, type: 'edit'), class: 'invoice-header-link' do
                        Edit
                    - unless item.preview_token.nil?
                      %li
                        =link_to preview_invoice_path(item.preview_token), class: 'invoice-header-link', :method=> :get, target: '_blank' do
                          Preview
                      %li.divider
                    %li{id: "invoice_approve_#{item.id}" , class: "invoice_approve_section_#{item.id}", style: "#{(item.draft? || item.cancelled?) ? 'display: block;' : 'display: none;'}"}
                      =link_to 'javascript:;', class: 'invoice-header-link invoice-approve', 'data-id' => item.id, 'data-token' => item.token  do
                        Approve
                    %li
                      =link_to '#', class: 'invoice-header-link' do
                        Send
                    %li{class: "invoice_cancel_section_#{item.id}", style: "#{(item.cancelled?) ? 'display: none;' : 'display: block;'}"}
                      =link_to '#', class: 'invoice-header-link record-payment', 'data-target' => '#record_payment_modal', 'data-toggle' => 'modal', 'data-id' => item.id, 'data-token' => item.token, 'data-balance' => "#{item.total - item.total_paid}", id: "invoice_payment_#{item.id}", style: "#{(item.paid? || item.draft?) ? 'display: none;' : ''}" do
                        Record Payment
                    %li.divider
                    - if item.file_name.blank? || item.is_updated_pdf
                      %li
                        =link_to generate_pdf_invoice_path(item), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                          Export As PDF
                      %li
                        =link_to generate_pdf_invoice_path(item), class: 'invoice-header-link', :method=> :post, target: '_blank' do
                          Print
                    - else
                      %li
                        =link_to item.file_name_path, class: 'invoice-header-link', target: '_blank' do
                          Export As PDF
                      %li
                        =link_to item.file_name_path, class: 'invoice-header-link', target: '_blank' do
                          Print
                    %li.divider{class: "invoice_cancel_section_#{item.id}", style: "#{(item.cancelled?) ? 'display: none;' : 'display: block;'}"}
                    %li{id: "invoice_cancel_#{item.id}", class: "invoice_cancel_section_#{item.id}", style: "#{(item.cancelled?) ? 'display: none;' : 'display: block;'}"}
                      =link_to '#', class: 'invoice-header-link invoice-cancel', 'data-target' => '#cancel_reason_modal', 'data-toggle' => 'modal', 'data-id' => item.id, 'data-token' => item.token  do
                        Cancel              

                  / =link_to invoice_path(item.id, type: :all), style: 'font-size: 20px; margin-right: 10px;', :method=> :get do
                  /   %i.fa.fa-pencil-square-o
                  / =link_to preview_invoice_path(item.preview_token), style: 'font-size: 20px; margin-right: 10px;', :method=> :get, target: '_blank' do
                  /   %i.fa.fa-eye
                  / - if item.file_name.blank? || item.is_updated_pdf
                  /   =link_to generate_pdf_invoice_path(item), style: 'font-size: 20px; margin-right: 10px;', :method=> :post, target: '_blank' do
                  /     %i.fa.fa-file-pdf-o                  
                  / - else
                  /   =link_to item.file_name_path, style: 'font-size: 20px; margin-right: 10px;', target: '_blank' do
                  /     %i.fa.fa-file-pdf-o                  

                  / =link_to generate_pdf_invoice_path(item), style: 'font-size: 20px; margin-right: 10px;', :method=> :post, target: '_blank' do
                  /   %i.fa.fa-print
                  / =link_to mail_invoice_path(item), style: 'font-size: 20px; margin-right: 10px;' do
                  /   %i.fa.fa-envelope-o
                / %td
                /   %a.remove_invoice_link{href: 'javascript:;', data:{activity: invoice_path(item)}}
                /     %i.fa.fa-icon.fa-minus-circle

.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "record_payment_modal"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title 
          Record Payment for Bill - 
          %span{id: 'payment_invoice_token'}
      .modal-body
        .row{style:'margin-bottom: 10px;'}
          %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Payment Date
          .col-md-8.col-sm-8.col-xs-12
            %input.form-control{name:'payment_date', :placeholder => "Payment Date", id: 'payment_date'}
        .row{style:'margin-bottom: 10px;'}
          %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Amount
          .col-md-8.col-sm-8.col-xs-12
            %input.form-control{type: 'number', name:'amount', id: 'payment_amount', :placeholder => "$"}
        .row{style:'margin-bottom: 10px;'}
          %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Mode of Payment
          .col-md-8.col-sm-8.col-xs-12
            = select_tag :payment_mode, options_for_select(ApplicationHelper::PAYMENT_MODE.each_with_index.map {|name, index| [name,index]}), prompt: "Select Payment Mode", :class => "form-control"
        .row{style:'margin-bottom: 10px;'}
          %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Reference #
          .col-md-8.col-sm-8.col-xs-12
            %input.form-control{name:'reference_no', id: 'reference_no'}
        .row{style:'margin-bottom: 10px;'}
          %label.control-label.col-md-4.col-sm-4.col-xs-12.text-right Note
          .col-md-8.col-sm-8.col-xs-12
            %textarea.form-control{name:'note', id: 'note', rows: 5}
            %input{type:'hidden', id: 'payment_invoice_id', :value => ""}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "cancel_record_payment"} Close
        %button.btn.btn-primary{:type => "button", id: "button_record_payment"} Submit

.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "cancel_reason_modal"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title 
          Cancel Reason for Invoice - 
          %span{id: 'cancel_invoice_token'}
      .modal-body
        .row{style:'margin-bottom: 10px;'}
          .col-md-12
            %label Reason
            %textarea.form-control{name:'note', id: 'cancel_reason', rows: 5}
            %input{type:'hidden', id: 'cancel_invoice_id', :value => ""}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "button_close_cancel"} Close
        %button.btn.btn-danger{:type => "button", id: "button_cancel_invoice", "data-type" => "modal"} Cancel

- @sales_order.invoices.each do |item| 
  .invoice_detail_modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1", :id => "inovice_detail_modal_#{item.id}"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Sales Order Invoice
        .modal-body
          .row.no-margin  
            .col-md-6.col-sm-6.col-xs-12
              %h1= @sales_order.customer.company_title
            .col-md-6.col-sm-6.col-xs-12.text-right
              %h4.invoice_number=item.token
          .row.no-margin  
            .col-md-6.col-sm-6.col-xs-12
              %h4= @sales_order.customer.billing_address
            .col-md-6.col-sm-6.col-xs-12
              %h4.invoice_date
                Date: 
                =item.created_at.to_date
          .row.no-margin  
            .col-md-6.col-sm-6.col-xs-12
              %h5="Phone: #{@sales_order.customer.phone}"
              %h5="Fax: #{@sales_order.customer.fax}"
            .col-md-6.col-sm-6.col-xs-12
              %h5="Sales Order: #{@sales_order.token}"
              %h5="Processed By: #{@sales_order.booker.full_name}"
          .row.no-margin  
            .col-md-6.col-sm-6.col-xs-12
              %h4 
              %h5="#{@company_profiles['company.name']}"
              %h5="#{@company_profiles['company.address']}"
            .col-md-6.col-sm-6.col-xs-12
              %h4 Deliver To
              %h5="#{@sales_order.customer.company_title}"
              %h5="#{@sales_order.ship_street} #{@sales_order.ship_suburb}"
              %h5="#{@sales_order.ship_city} #{@sales_order.ship_postcode}"
              %h5="#{@sales_order.ship_state} #{Country.coded(@sales_order.ship_country).name}"

            .col-md-12{:style => "overflow:auto;"}
              / start project list
              %div
                %table#product_list.table.table-bordered.projects.margin-bottom-5
                  %thead
                    %tr
                      %th{:style => "width: 15%"} SKU
                      %th{:style => "width: 25%"} Product Name
                      %th{:style => "width: 10%"} Quantity
                      %th{:style => "width: 10%"}= "Price (#{Setting.value_by('format.currency')})"
                      %th{:style => "width: 10%"} Discount (%)
                      %th{:style => "width: 10%"} Tax (%)
                      %th{:style => "width: 10%"}= "Amount (#{Setting.value_by('format.currency')})"
                  %tbody
                  - item.invoice_items.each do |elem|
                    %tr
                      - if elem.sales_item.nil?
                        %td                          
                        %td 
                          =elem.sales_custom_item.item_name
                        %td.editable{"contentEditable" => "true"}
                          =elem.quantity
                        %td 
                          =elem.sales_custom_item.unit_price
                        %td 
                          =elem.sales_custom_item.discount_rate
                        %td 
                          =elem.sales_custom_item.tax_rate
                        %td
                          =elem.sub_total
                        %td{:style => "display: none;"} 
                          =elem.sales_custom_item_id
                        %td{:style => "display: none;"} custom_product
                      - else
                        %td
                          =elem.sales_item.sold_item.sku    
                        %td 
                          =elem.sales_item.sold_item.name                      
                        %td.editable{"contentEditable" => "true"}
                          =elem.quantity
                        %td 
                          =elem.sales_item.unit_price
                        %td 
                          =elem.sales_item.discount_rate
                        %td 
                          =elem.sales_item.tax_rate
                        %td
                          =elem.sub_total
                        %td{:style => "display: none;"} 
                          =elem.sales_item_id
                        %td{:style => "display: none;"} product

                %table.table.projects
                  %tbody
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        %b SubTotal:
                      %td#sub_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                        =item.sub_total
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        %b Total Discount:
                      %td#discount_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                        =item.discount 
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        %b Shipping Cost:
                      %td#shipping_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                        =item.shipping
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        %b Tax:
                      %td#tax_total_cell.money{:style => 'border:none; background: white; width:12%;'}
                        =item.tax
                    %tr
                      %td{:style => 'border:none; background: white; text-align: right;'} 
                        %b Total:
                      %td#total_cell.money{:style => 'border:none; background: white; width:12%;'}
                        =item.total
                    / %tr
                    /   %td{:style => 'border:none; background: white; text-align: right;'} 
                    /     %b Paid:
                    /   %td.money{:style => 'border:none; background: white; width:12%;'}
                    /     %input#paid_amount{type:'text', style: 'width: 80%;', value: "#{item.paid}"}
                    / %tr
                    /   %td{:style => 'border:none; background: white; text-align: right;'} 
                    /     %b Change:
                    /   %td#change_cell.money{:style => 'border:none; background: white; width:12%;'}
                    /     ="#{item.paid - item.total}"

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          - unless item.draft?
            %button#btn_update_invoice.btn.btn-primary{:type => "button", "data-dismiss" => "modal", "data-itemid" => "#{item.id}", "data-url" => invoice_path(item)} Save
          - if item.draft?
            %button#btn_update_invoice.btn.btn-info{:type => "button", "data-dismiss" => "modal", "data-itemid" => "#{item.id}", "data-url" => invoice_path(item)} Confirm

:javascript
  $(document).ready(function() {
    SalesOrderDetail.handleOrderInvoiceTab();
  });
