.x_panel
  .x_title
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "javascript:;"}
      %h2
        = nav_name
        %span.fa.fa-chevron-down.list-type-down
    %ul.dropdown-menu
      %li
        = link_to list_by_type_sales_orders_path(:type => 'all') do
          All Sales Orders            
      %li
        = link_to list_by_type_sales_orders_path(:type => 'quote'), class: "no-border" do
          Quote
      %li
        = link_to list_by_type_sales_orders_path(:type => 'confirmed') do
          Confirmed
      %li
        = link_to list_by_type_sales_orders_path(:type => 'shipped'), class: "no-border" do
          Shipped
      %li
        = link_to list_by_type_sales_orders_path(:type => 'drop_shipped') do
          Drop Shipped
      %li
        = link_to list_by_type_sales_orders_path(:type => 'invoice'), class: "no-border" do
          Ready to Invoice
    %ul.nav.navbar-right.panel_toolbox
      %li
        %a.add-link{ :href => add_url }
          %i.fa.fa-cart-plus
    .clearfix
  #order_side_menu.x_content{:style => "max-height:800px;"}
    .sub_menu_side
      %ul.nav.side-menu
        - sub_elems.each do |elem|
          %li{ :class => "sub-nav-#{elem.id} element" }
            %a{:href => (type == 'show') ? sales_order_path(elem, type: order_type) : edit_sales_order_path(elem) }
              %table.sales-order-side-elem
                %tr
                  %td.customer-name
                    = "#{elem.customer_full_name}"
                  %td.text-right
                    = "$ #{elem.total_amount}"
                %tr
                  %td.sales-order-property
                    = "#{elem.token} | #{elem.order_date}"
                    %br
                    = "Ref: #{elem.ref_no}"
                  %td.text-right
                    %span.label{class: "#{elem.status_class}"}
                      = elem.status_text.capitalize
      %input{type: 'hidden', id: 'active_elem', data: { elem: "#{active_elem}"}}
:javascript
  jQuery(document).ready(function() {
    SalesOrdersCommon.initSiderMenuList();
    SalesOrderDetail.initSalesOrderNavList();
  });