.row
  .col-md-12.col-sm-12.col-xs-12
    .title_right
      .col-md-8.col-sm-8.col-xs-12
        - if !params[:key].blank?
          %h4
            Search by "#{params[:key]}"
  .col-md-12
    %table.table.table-hover.projects
      %thead
        %tr
          %th{width: '1%'}
            %input.group-checkable{type: 'checkbox'}
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'date', sort: 'asc'} do
              Date
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'order_no', sort: 'asc'} do
              Sales Order#
          %th{width: '20%'}
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'company', sort: 'asc'} do
              Company Name
          %th
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'status', sort: 'asc'} do
              Status
          %th.text-center
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'packed', sort: 'asc'} do
              Packed
          %th.text-center
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'delivered', sort: 'asc'} do
              Delivered
          %th.text-center
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'invoiced', sort: 'asc'} do
              Invoiced
          %th{width: '20%'}
            = link_to 'javascript:;', class: 'link_order_by', data:{key: 'amount', sort: 'asc'} do
              Amount
      %tbody
      - @sales_orders.each do |order|
        %tr{class: "status"}
          %td.bulk_action  
            %input{type: 'checkbox', value: "#{order.id}", name: "table_records"}
          %td
            = order.order_date
          %td
            %a{:href => sales_order_path(id: order.id, type:params[:type])}
              = order.token
          %td
            = order.customer_full_name
          %td
            = order.status.capitalize
          %td.text-center
            %span{class: order.packed? || order.shipped? || order.fullfilled? ? "orange-status-active" : ""}
              %i.fa.fa-icon.fa-circle
          %td.text-center
            %span{class: order.shipped? || order.fullfilled? ? "blue-status-active" : ""}
              %i.fa.fa-icon.fa-circle
          %td.text-center
            %span{class: order.fullfilled? ? "green-status-active" : ""}
              %i.fa.fa-icon.fa-circle
          %td
            = order.total_amount
  .col-md-12{:style => "text-align: center;"}  
    = will_paginate @sales_orders, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
    %input{type: 'hidden', id: 'params', data: { order: "#{params[:order]}", sort: "#{params[:sort]}", key: "#{params[:key]}", type: "#{params[:type]}"}}
:javascript
  jQuery(document).ready(function() {
    SalesOrderList.initSalesOrderList();
  });