%table.sales-order-box
    %tr.main-info-box
        %td{colspan: 2}
            %table.order-main-info
                %tr
                    %td.company-title
                        %h2= @sales_order.customer.company_title
                        %p= @sales_order.customer.billing_address
                    %td.order-info.text-right
                        %p=@sales_order_invoice.token unless @sales_order_invoice.nil?
                        %p GST Number: 
                        %p 
                            Date:
                            =@sales_order_invoice.created_at.to_date unless @sales_order_invoice.nil?
                        %p Page
                %tr
                    %td
                        %p="Phone: #{@sales_order.customer.phone}"
                        %p="Fax: #{@sales_order.customer.fax}"
                        %h3
                            Tax Invoice
                            =@sales_order_invoice.token unless @sales_order_invoice.nil?
                    %td.text-right
                        %p="Sales Order: #{@sales_order.token}"
                        %p="Processed By: #{@sales_order.booker.full_name}"
    %tr.address-box
        %td{width: "50%"}
            %p="#{@company_profiles['company.name']}"
            %p="#{@company_profiles['company.address']}"
        %td{width: "50%"}
            %p Deliver To:
            %p="#{@sales_order.customer.company_title}"
            %p="#{@sales_order.ship_street} #{@sales_order.ship_suburb}"
            %p="#{@sales_order.ship_city} #{@sales_order.ship_postcode}"
            %p="#{@sales_order.ship_state} #{Country.coded(@sales_order.ship_country).name}"
    %tr.details-box
        %td{height: 400, colspan: 2}
            %table.order-product-info
                %tr.product-header
                    %td Product Name                        
                    %td Quantity
                    %td Unit Price
                    %td Discount(%)
                    %td Tax(%)
                    %td Amount
                - unless @sales_order_invoice.nil?
                    - @sales_order.sales_item_activities.where(activity: 'ship').where(token: @sales_order_invoice.activity_data).each do |item|
                        %tr
                            %td=item.sales_item.sold_item.name    
                            %td=item.quantity
                            %td="$ #{item.sales_item.unit_price}"
                            %td=item.sales_item.discount_rate
                            %td=item.sales_item.tax_rate
                            %td=item.sub_total
    %tr.signature-box
        %td{colspan: 2}
            %table.order-sign-info
                %tr
                    %td.terms-info
                        Unless otherwise specifed computer system comes with 1 year return to base warranty Multimedia & peripheral components come with manufacturer's warranty Goods Remain the properties of PB Technologies (Penrose) Ltd until payment in full. PB Technologies reserve the right to collect unpaid goods by peaceful means Removal of any labels, tampering or similar unauthorised use voids the warranty Software problems are not covered by the warranty, service charge will apply Goods cannot be returned for a refund after 7 days. All goods returned are subject to restocking fee a minimum retail 20% and wholesale 5%. Check that you have received all the goods Due to licensing issues software cannot be returned once purchased
                    %td.signature-info
                        %table
                            %tr
                                %td.text-right{width: '25%'}
                                    Signature
                                %td.td-underline{width: '35%'}
                                    %div
                                %td.text-right{width: '15%'}
                                    Date
                                %td.td-underline{width: '25%'}
                                    %div
                            %tr
                                %td.text-right
                                    Print Name
                                %td.td-underline
                                    %div
                                %td
                                %td
                                    
    %tr.balance-box
        %td
            %p Received with Thanks
            %table
                %tr
                    %td Cash
                    %td $300
                %tr
                    %td Eftpos
                    %td $285.35

        %td.no-padding
            %table.total-info
                %tr.product-header
                    %td SubTotal
                    %td Total Discount
                    %td Shipping Cost
                    %td Tax
                    %td Total
                - unless @sales_order_invoice.nil?
                    %tr
                        %td=@sales_order_invoice.sub_total
                        %td=@sales_order_invoice.discount 
                        %td
                        %td=@sales_order_invoice.tax
                        %td=@sales_order_invoice.total

    %tr.footer-box
        %td{colspan: 2}
            Payments can be made into 01-0295-0084706-00 using the reference MAR1351.
    %tr.footer-box
        %td{colspan: 2}
            Printed: 23/07/2016 10

:css
  table td.money:before{    
    content: '#{Setting.value_by('format.currency')} ' !important;
  }