=content_for :title, "SalesOrder - #{@sales_order.token}"
%table.pack-order-box
    %tr.main-info-box
        %td{colspan: 2}
            %table.order-main-info
                %tr
                    %td.company-title
                        %h4= @sales_order.customer.company_title
                        %p{style: 'color: #555;'}= @sales_order.customer.billing_address
                    %td.order-info.text-right
                        %h2 SALES ORDER
                        %p{style: 'color: #555;'}="Sales Order: #{@sales_order.token}"
    %tr
        %td{width: "50%"}
            %p Ship To:
            %p="#{@sales_order.customer.company_title}"
            %p="#{@sales_order.ship_street} #{@sales_order.ship_suburb}"
            %p="#{@sales_order.ship_city} #{@sales_order.ship_postcode}"
            %p="#{@sales_order.ship_state} #{Country.coded(@sales_order.ship_country).name}"
        %td.text-right{width: "50%"}
            %p="Order Date: #{@sales_order.created_at.to_date}"
            %p="Sales Order#: #{@sales_order.token}"
    %tr.details-box
        %td{height: 400, colspan: 2}
            %table.order-product-info
                %tr.product-header
                    %td{style: 'width: 50%;'} ITEM & DESCRIPTION
                    %td Quantity
                    %td Unit Price
                    %td{ width: '20%' } Amount
                - @sales_order.sales_items.each do |item|
                    %tr
                        %td 
                            =item.sold_item.name    
                        %td 
                            =item.quantity
                        %td 
                            ="#{item.unit_price}"
                        %td 
                            ="#{Setting.value_by('format.currency')} #{item.quantity * item.unit_price - item.discount_amount}" 
                - @sales_order.sales_custom_items.each do |item|
                    %tr
                        %td 
                            =item.item_name    
                        %td 
                            =item.quantity
                        %td 
                            ="#{item.unit_price}"
                        %td 
                            ="#{Setting.value_by('format.currency')} #{item.quantity * item.unit_price - item.discount_amount}" 
    %tr
        %td{width: "50%"}
        %td{width: "50%"}
            %table.total-product-info{style: 'width: 100%;'}
                %tr
                    %td.text-right
                        Sub Total
                    %td.money.text-right=@sales_order.sub_total
                %tr
                    %td.text-right
                        Discount
                    %td.money.text-right=@sales_order.discount_amount            
                %tr
                    %td.text-right
                        Tax
                    %td.money.text-right=@sales_order.tax_amount            
                %tr{style: 'background: #eee;'}
                    %td.text-right
                        Total
                    %td.money.text-right=@sales_order.total_amount

:css
    table td.money:before{    
        content: '#{Setting.value_by('format.currency')} ' !important;
    }