.right_col.sales-orders-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_sales_order', add_url: new_sales_order_path, active_elem: "sub-nav-#{@sales_order.id}", nav_name: 'Sales Orders', sub_elems: @sales_orders, type: 'show', cat_name: 'Sales Order Detail', order_type: params[:type]
  .right-content
    .x_panel
      .x_title
        %h2           
          ="Sales Order #{@sales_order.token}" 
        %span.label{class: @sales_order.status_class}
          = "#{@sales_order.status_text.capitalize}"
        %ul.nav.navbar-right.panel_toolbox
          %li
            =link_to edit_sales_order_path(@sales_order), class: 'order-header-link' do
              %i.fa.fa-edit
          %li
            %button.btn.btn-default.btn-sm.dropdown-toggle.btn-more{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %i.fa.fa-plus
            %ul.dropdown-menu.more-action{:role => "menu"}
              %li
                =link_to '#', class: 'order-header-link create-package-link', data: {toggle: 'modal', target: '#package_modal'} do
                  Create Pick List
              %li
                =link_to '#', class: 'order-header-link create-shippment-link' do
                  Create Shippment
              %li
                =link_to '#', class: 'order-header-link create-invoice-link' do
                  Create Invoice
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        / Nav tabs
        %ul.nav.nav-tabs.bar_tabs
          %li.tab-detail.active
            %a{"data-toggle" => "tab", :href => "#tab_detail", "aria-expanded" => "true"} 
              %i.fa.fa-folder-open-o
              Order Details                                    
          %li.tab-item
            %a{"data-toggle" => "tab", :href => "#tab_item", "aria-expanded" => "false"} 
              %i.fa.fa-cubes
              Ordered Items
          %li.tab-pack
            %a{"data-toggle" => "tab", :href => "#tab_pack", "aria-expanded" => "false"} 
              %i.fa.fa-cube
              Packaging
          %li.tab-shipment
            %a{"data-toggle" => "tab", :href => "#tab_shipment", "aria-expanded" => "false"} 
              %i.fa.fa-truck
              Shippments
          %li.tab-invoice
            %a{"data-toggle" => "tab", :href => "#tab_invoice", "aria-expanded" => "false"} 
              %i.fa.fa-file-text-o
              Invoice
          %li.tab-history
            %a{"data-toggle" => "tab", :href => "#tab_history", "aria-expanded" => "false"} 
              %i.fa.fa-history
              History
        .tab-content
          #tab_detail{:class => "tab-pane active"}
            = render 'form_sales_order_detail'
          #tab_item{:class => "tab-pane"}
            = render 'form_sales_order_item'
          #tab_pack{:class => "tab-pane"}
            = render 'form_sales_order_pack'
          #tab_shipment{:class => "tab-pane"}
            = render 'form_sales_order_shipment'
          #tab_invoice{:class => "tab-pane"}
            = render 'form_sales_order_invoice'
          #tab_history{:class => "tab-pane"}
            = render 'form_sales_order_history'

#package_modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Create Sales Order Package
      .modal-body
        .row.no-margin
          .col-md-6.col-sm-6.col-xs-12
            %h4 Packaging Slip Information
            .form-group.row
              %label.control-label.col-md-4.col-sm-4.col-xs-12 Customer Name
              %span.col-md-8.col-sm-8.col-xs-12.field-value          
                = @sales_order.customer.name
            .form-group.row
              %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Order #
              %span.col-md-8.col-sm-8.col-xs-12.field-value          
                = @sales_order.token
          .col-md-6.col-sm-6.col-xs-12.text-right
            %input#pack_req_url{type: 'hidden', value: "#{pack_sales_order_path(@sales_order)}"}
            %input#pack_remove_url{type: 'hidden', value: "#{remove_activity_sales_order_path(@sales_order)}"}
            - if @sales_order.confirmed?
              %a#btn_pack_submit.btn.btn-primary{:href => 'javascript:;'}
                Save      
          .col-md-12{:style => "overflow:auto;"}
            %h4 Product Information
            / start project list
            %div
              %table#product_list.table.table-bordered.projects.margin-bottom-5
                %thead
                  %tr
                    %th{:style => "width: 10%"} SKU
                    %th{:style => "width: 20%"} Product Name
                    %th{:style => "width: 15%"} Qty to Pack
                    %th{:style => "width: 15%"} Price
                    %th{:style => "width: 10%"} Discount
                    %th{:style => "width: 10%"} Tax
                    %th{:style => "width: 10%"} Packaging
                    %th{:style => "width: 10%"} Note
                %tbody
                - @sales_order.sales_items.each do |item|
                  %tr
                    %td 
                      =item.sold_item.sku    
                    %td 
                      =item.sold_item.name
                    %td 
                      =item.quantity_to_pack
                    %td 
                      =item.tax_rate
                    %td 
                      =item.discount_rate
                    %td 
                      =item.unit_price
                    %td.editable{"contentEditable" => "true"}
                    %td.editable{"contentEditable" => "true"} 
                    %td{:style => "display: none;"} 
                      =item.id
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button#btn_create_package.btn.btn-primary{:type => "button", "data-dismiss" => "modal"} Save

:javascript
  jQuery(document).ready(function() {
    
  });