.right_col.sales-orders-wrapper{:role => "main"}
  .left-sub-sidebar
    = render 'nav_sales_order', add_url: new_sales_order_path, active_elem: "sub-nav-#{@sales_order.id}", nav_name: 'Sales Orders', sub_elems: @sales_orders, type: 'show', cat_name: 'Sales Order Detail', order_type: params[:type]
  .right-content
    .x_panel
      .x_title
        %h2           
          ="Sales Order #{@sales_order.token}" 
        %span.label{class: @sales_order.status_class}
          = "#{@sales_order.status_text.capitalize}"
        %ul.nav.navbar-right.panel_toolbox
          %li
            =link_to edit_sales_order_path(@sales_order), class: 'order-header-link' do
              %i.fa.fa-edit
          %li
            %button.btn.btn-default.btn-sm.dropdown-toggle.btn-more{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %i.fa.fa-plus
            %ul.dropdown-menu.more-action{:role => "menu"}
              %li
                =link_to 'javascript:;', class: 'order-header-link' do
                  Create Invoice
              %li
                =link_to 'javascript:;', class: 'order-header-link' do
                  Create Shippment
              %li
                =link_to 'javascript:;', class: 'order-header-link' do
                  Create Pick List
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        / Nav tabs
        %ul.nav.nav-tabs.bar_tabs
          %li.tab-detail.active
            %a{"data-toggle" => "tab", :href => "#tab_detail", "aria-expanded" => "true"} 
              %i.fa.fa-folder-open-o
              Order Details                                    
          %li.tab-item
            %a{"data-toggle" => "tab", :href => "#tab_item", "aria-expanded" => "false"} 
              %i.fa.fa-cubes
              Ordered Items
          %li.tab-pack
            %a{"data-toggle" => "tab", :href => "#tab_pack", "aria-expanded" => "false"} 
              %i.fa.fa-cube
              Packaging
          %li.tab-shipment
            %a{"data-toggle" => "tab", :href => "#tab_shipment", "aria-expanded" => "false"} 
              %i.fa.fa-truck
              Shippments
          %li.tab-invoice
            %a{"data-toggle" => "tab", :href => "#tab_invoice", "aria-expanded" => "false"} 
              %i.fa.fa-file-text-o
              Invoice
          %li.tab-history
            %a{"data-toggle" => "tab", :href => "#tab_history", "aria-expanded" => "false"} 
              %i.fa.fa-history
              History
        .tab-content
          #tab_detail{:class => "tab-pane active"}
            = render 'form_sales_order_detail'
          #tab_item{:class => "tab-pane"}
            = render 'form_sales_order_item'
          #tab_pack{:class => "tab-pane"}
            = render 'form_sales_order_pack'
          #tab_shipment{:class => "tab-pane"}
            = render 'form_sales_order_shipment'
          #tab_invoice{:class => "tab-pane"}
            = render 'form_sales_order_invoice'
          #tab_history{:class => "tab-pane"}
            = render 'form_sales_order_history'
:javascript
  jQuery(document).ready(function() {
  });